[2020-05-16 17:32] nvs-abhilash commented on #253
Fixed in #384

[2020-05-16 17:32] #253 closed

[2020-05-26 03:27] iampatterson commented on #342
I am using an identical environment.  Can you kindly share the config for GitHub, I can't get mine to work.  I followed the instructions explicitly.  I get a 404 like this.  I think it is a problem with the home pages or the callback URL's not sure what else to try.

This is the only thing I have in my config.yaml

 type: github
  github:
    clientId: "XXXX"
    clientSecret: "XXXXXXX"
    callba

[2020-05-29 16:05] serant opened #355 "AzureAD authenticates with name instead of UPN"
### Bug description

If two Azure Active Directory users with the same name, but different emails (UPNs) exist, they were will map to the same JupyterHub account when using AzureAdOAuthenticator

#### Expected behaviour
If I have two Azure AD accounts:
1. Seran Thirugnanam with email: seranthirugnanam@mydomain.com
2. Seran Thirugnanam with email: sthirugnanam@mydomain.com

They should map to diffe

[2020-05-29 16:09] serant commented on #355
If this is something that should be addressed, I can submit a PR with my changes.

Some guidance on how to handle migrating deployments using "name" as the key for AzureAdOAuthenticator to a UPN as the key will be appreciated.

[2020-06-07 02:17] Wh1isper commented on #277
I agree !
I meet the same problem: secure flag missing in HTTPS query
I try this way but in k8s config.yaml but secure flag is still missing
`from oauthenticator.generic import GenericOAuthenticator
      from oauthenticator.oauth2 import OAuthLoginHandler, STATE_COOKIE_NAME
      class SecureOAuthLoginHandler(OAuthLoginHandler):
          def set_state_cookie(self, state):
              self._set

[2020-06-11 14:04] espenfl commented on #278
Does anyone know why this does not work?

[2020-06-18 10:37] dwilliams782 opened #356 "Release schedule?"
Hi,

We are using this via the Z2JH project, which is tagged at 0.11.0 for Oauthenticator.

I am keen to use the google group integration merged in #341 back in March. Is there a schedule for a new release?

Thanks

[2020-07-14 17:36] meeseeksmachine commented on #248
This issue has been mentioned on **Jupyter Community Forum**. There might be relevant details there:

https://discourse.jupyter.org/t/cognito-authentication-for-jupyterhub-helm-chart/5207/1

[2020-07-22 03:39] rpwagner opened #361 "Default Globus Config Requires Identity from Globus ID"
Hey @NickolausDS,

The [default configuration for the Globus authenticator](https://github.com/jupyterhub/oauthenticator/blob/cb6e5790592768bd117c5f1b77bd491cd126fea8/oauthenticator/globus.py#L91) requires the user to have a linked identity with Globus ID, even if the client registration doesn't require it.

Because users are not required to have a Globus ID (`globusid.org`) account, I'd suggest m

[2020-07-22 15:41] NickolausDS commented on #361
Hi Rick!

Yes, set the following in your config:

    c.GlobusOAuthenticator.identity_provider = ''

This changed in #337 and #357 to be default in future versions, but hasn't been released as a stable OAuthenticator version, so setting `identity_provider` explicitly will be needed in the mean time. Once version 0.12.x is released, that line won't be needed.

That doesn't solve the problem of user

[2020-07-24 18:12] meeseeksmachine commented on #107
This issue has been mentioned on **Jupyter Community Forum**. There might be relevant details there:

https://discourse.jupyter.org/t/generic-oauthenticator-redirect-issue/4078/5

[2020-08-04 17:11] antoinekrajnc commented on #207
Hi @isaurssaurav,

Thanks a lot for your answer. I ran into the same issue. Could you provide a little more detail? Did you override the *Auth0LoginHandler* class inside the `.yaml` config file?

Thanks a lot for your help!

[2020-08-06 06:14] isaurssaurav commented on #207
@antoinekrajnc,
I override the function from jupyerhub_config.py.

So. [This](https://github.com/jupyterhub/oauthenticator/blob/44121eab53ec1a6f6c957b64f438f3cd65377845/oauthenticator/auth0.py) is the class you will be overriding

It's been long, so I don't really remember the details  but here is my jupterhub_config file:

[code]
P.S: `AUTH0_SUBDOMAIN is env variable I defined in Dockerfile

I am

[2020-09-04 09:11] tamasSzentandrasi opened #365 "Azure AD signin with TLJH doesn't work - tljh config ignored"
### Bug description

azuread.py doesn't seem to parse in any of the configuration details included in the tljh config.

#### Expected behaviour

I'm using the following [TLJH](https://github.com/jupyterhub/the-littlest-jupyterhub) config, with the substitutions of <> with the appropriate content:

[code]

since it references azuread, and it does call azuread.py (since the site correctly shows "Sig

[2020-09-04 20:18] yuvipanda commented on #355
https://github.com/jupyterhub/oauthenticator/pull/280 might help you?

[2020-09-04 21:01] consideRatio commented on #355
Closing this preliminary given #280 is merged and released.

[2020-09-04 21:01] #355 closed

[2020-09-09 15:43] hbuttguavus commented on #107
Hi,
I am also facing an issue with logging out. Once I sign in I am unable to log out unless I go to keycloak and end the session. Only then do I get prompted to enter the username and password again. I am using the juyterhub helm chart and have the following values which work except that I can not logout. Can anyone help identify what I might be missing? Thanks.

`hub:
  extraEnv:
    OAUTH2_AUTH

[2020-09-10 12:32] t20100 commented on #107
If that can help, I got logout with keycloak working with oauthenticator 0.11.0 with the following code:

An authenticator with a `LogoutHandler` since the default one does not handles logout against authentication service:
[code]

And then use the authenticator and logout URL configuration:
[code]

I don't know how much that can be generalized, but when using keycloak that would be great to have

[2020-09-11 03:27] hbuttguavus commented on #107
@t20100 Thank you! Really appreciate it. The code helped me understand what I needed to do and I was able to use it in the helm chart for jupyterhub.

[2020-09-14 13:20] owenliang opened #367 "GenericOAuthenticator with Moodle got errors because of empty POST body"
I am following this: https://oauthenticator.readthedocs.io/en/latest/getting-started.html#moodle-setup

and jupyterhub print this error:

[code]

and I think we should add allow_nonstandard_methods=True here: https://github.com/jupyterhub/oauthenticator/blob/master/oauthenticator/generic.py#L132

I think an empty post body is fine,  tornado may be  too strict with default behavior.

[2020-09-17 19:56] rpwagner commented on #361
@NickolausDS I think the updated docs helps to clear this up. I'll close this issues.

[2020-09-17 19:56] #361 closed

[2020-09-22 08:31] matthew-brett opened #368 "Stripping domains only for case of single allowed domain?"
This is just asking for the reasoning behind the logic at https://github.com/jupyterhub/oauthenticator/blob/master/oauthenticator/cilogon.py#L206.

In the CILogon authenticator, you can specify allowed identity provider suffixes in `allowed_idps' - in my case these will be `['bham.ac.uk', 'student.bham.ac.uk']`.

You can also specify `strip_idp_domain`, which will strip the username from (e.g. in

[2020-09-22 08:51] manics commented on #368
See the discussion on the original PR https://github.com/jupyterhub/oauthenticator/pull/145

[2020-09-22 08:55] matthew-brett commented on #368
Ah - thanks - I knew there was a good reason, it's just I hadn't seen it.

But how about my suggestion of allowing a list for `strip_idp_domain` to cover my use-case?

[2020-10-07 15:17] dbsanfte opened #370 "AzureAD B2C is getting a new authorisation URL - b2clogin.com - existing auth method will break"
### Bug description
Currently both AzureAD and B2C are routed through login.microsoftonline.com. This is being deprecated for B2C flows as of December 2020. All B2C apps must authenticate via b2clogin.com after this date.

#### Expected behaviour
There should be seperate logic for B2C apps to route them to the new url. Nothing else is supposed to change.

#### Actual behaviour
Both AzureAD and Azu

[2020-10-07 17:40] consideRatio commented on #146
`read_user` is indeed required, and `api` is required at least if gitlab is to validate membership of various groups etc as part of authorization using group membership is configured.

[2020-10-07 17:40] #146 closed

[2020-10-07 18:03] consideRatio opened #371 "Document GitLab's requested permissions from users logging in (required scopes)"
GitLabOAuthenticator is making some checks against GitLab's REST API following a user has authenticated, in order to decide if the user is authorized. These requests against the GitLab REST API that follows authentication, are made with the access token that resulted from the authentication process.

This access token can get various degrees of permissions, which is influenced by the requested _sc

[2020-10-07 18:05] consideRatio opened #372 "Document GitLab's required scope if using allowed_gitlab_groups or not"
GitLabOAuthenticator is making some checks against GitLab's REST API following a user has authenticated, in order to decide if the user is authorized. These requests against the GitLab REST API that follows authentication, are made with the access token that resulted from the authentication process.

This access token can get various degrees of permissions, which is influenced by the requested _sc

[2020-10-07 18:09] consideRatio commented on #372
## Guess
I think `read_user,openid,profile,email` or `read_api,openid,profile,email` will be sufficient depending on if we need to probe the GitLab's REST API for group membership or not, but is this the minimal and sufficient amount of scope? It would be great to get that verified and documented.

[2020-10-08 18:09] ntdef commented on #356
Hi 👋 ! Jumping in as well to ask if there's a release scheduled. There are a lot of important Google OAuth changes in here.

[2020-10-12 15:34] CJCShadowsan commented on #372
Sorry - i'm confused. Where am I setting these permissions?

I've got a helm chart that has auth inside it:

[code]
But all i'm getting are 403 errors back - i'm assuming because of this, and i'm not entirely sure where to set the scopes...

...Is this something that can be set inside the helm chart as a configurable?

[2020-10-12 19:51] manics commented on #372
There's a `scopes` field, see the example on https://zero-to-jupyterhub.readthedocs.io/en/latest/administrator/authentication.html#giving-access-to-organizations-on-github

[2020-10-13 09:56] CJCShadowsan commented on #372
Yeah but that seems to not work...

I've tried the gitlab scopes read_user and read_api for reference:

[code]

I rebuild via helm...

I go through the auth procedure (after deleting the token) and i'm presented with:

![image](https://user-images.githubusercontent.com/16232240/95845884-a1e3de00-0d42-11eb-98f2-f58d242d70e1.png)

Showing no permissions.

Any ideas?

[2020-10-13 10:35] consideRatio commented on #372
Try adding `openid`, `profile`, `email` alongside `read_api` and `read_user`, I think that is the minimal configuration atm.

[2020-10-13 11:40] CJCShadowsan commented on #372
Unfortunately, tried that...

...Was presented with the same thing.

What am I missing? 😢

[2020-10-13 11:53] consideRatio commented on #372
@CJCShadowsan I don't aim to specifically help you atm, but to resolve this issue, but there can be overlap. With regards to solving this issue and finding out about sensible configuration, I'd like to ensure you are using the latest version of the oauthenticator, which means you should use the latest development version of the z2jh Helm chart. If you are using 0.9.0 or 0.9.1, please upgrade to th

[2020-10-13 11:57] CJCShadowsan commented on #372
No problem, I was merely trying to keep it on-topic of gitlab, scope and documentation because if this is how it should work via Helm... Right now i've not seen it working yet so wanted to make sure the docs are right :)

Let me double-check everything and get back to you!

[2020-10-13 13:00] CJCShadowsan commented on #372
Ok - i'm running 0.9.1 because the absolute latest helm chart recommended doesn't seem to work... 🤷

Relevant auth config:

[code]

The application is created inside gitlab with the same permissions as listed here.

Gitlab version: GitLab Enterprise Edition 12.10.3-ee

Whenever I try to auth using this, I get presented with the authorise prompt but it lists no permissions requested. I authorise it

[2020-10-13 13:42] CJCShadowsan commented on #372
I've found it.

This:

[code]

Should be **THIS**:

[code]

Indentation means you don't set it inside the auth type definition, you set it globally 🤦‍♂️

Not sure if this is documented specifically this way. I'll double-check.

[2020-10-13 18:57] meeseeksmachine commented on #217
This issue has been mentioned on **Jupyter Community Forum**. There might be relevant details there:

https://discourse.jupyter.org/t/unable-to-get-git-hub-oauth-work-on-a-jupyterhub-server-which-is-behind-a-proxy/6334/5

[2020-10-13 19:21] manics commented on #105
This should be working now!

[2020-10-13 19:21] #105 closed

[2020-10-13 19:22] manics commented on #120
I'm closing this as it's quite old and it's a support issue. If you're still having problems please post on the [Jupyter Community Forum](https://discourse.jupyter.org/). Thanks!

[2020-10-13 19:22] #120 closed

[2020-10-13 19:23] manics commented on #122
I'm closing this as it's quite old and it's a support issue. If you're still having problems please post on the [Jupyter Community Forum](https://discourse.jupyter.org/). Thanks!

[2020-10-13 19:23] #122 closed

[2020-10-13 19:25] manics commented on #136
I'm closing this as a multi-authenticator wouldn't be specific to oauthenticator. Please feel free to continue discussion on the [Jupyter Community Forum](https://discourse.jupyter.org/). Thanks!

[2020-10-13 19:25] #136 closed

[2020-10-13 19:25] manics commented on #148
I'm closing this as it's quite old and it's a support issue. If you're still having problems please post on the [Jupyter Community Forum](https://discourse.jupyter.org/). Thanks!

[2020-10-13 19:25] #148 closed

[2020-10-13 19:25] manics commented on #150
I'm closing this as it's quite old and it's a support issue. If you're still having problems please post on the [Jupyter Community Forum](https://discourse.jupyter.org/). Thanks!

[2020-10-13 19:25] #150 closed

[2020-10-13 19:26] manics commented on #149
I'm closing this as it's quite old and it's a support issue. If you're still having problems please post on the [Jupyter Community Forum](https://discourse.jupyter.org/). Thanks!

[2020-10-13 19:26] #149 closed

[2020-10-13 19:27] manics commented on #160
I'm closing this as it's quite old and it's a support issue. If you're still having problems please post on the [Jupyter Community Forum](https://discourse.jupyter.org/). Thanks!

[2020-10-13 19:27] #160 closed

[2020-10-13 19:28] manics commented on #165
I'm closing this as it's quite old and there's no concrete action point. If you're still having problems please post on the [Jupyter Community Forum](https://discourse.jupyter.org/) or open a new issue. Thanks!

[2020-10-13 19:28] #165 closed

[2020-10-13 19:29] #161 closed

[2020-10-13 19:30] manics commented on #177
I'm closing this as it's quite old and there's no concrete action point. If you're still having problems please post on the [Jupyter Community Forum](https://discourse.jupyter.org/). Thanks!

[2020-10-13 19:31] manics commented on #178
Hi, sorry no-one answered you before. We're now encouraging people to package their own authenticators that depend on the core oauthenticator package.

[2020-10-13 19:31] #178 closed

[2020-10-13 19:32] manics commented on #193
I'm closing this as it's quite old and it's a support issue. If you're still having problems please post on the [Jupyter Community Forum](https://discourse.jupyter.org/). Thanks!

[2020-10-13 19:32] #193 closed

[2020-10-13 19:32] #195 closed

[2020-10-13 19:33] manics commented on #196
I'm closing this as it's quite old. If you're still having problems please post on the [Jupyter Community Forum](https://discourse.jupyter.org/) or open a new issue. Thanks!

[2020-10-13 19:33] #196 closed

[2020-10-13 19:34] manics commented on #197
Is this still an issue?

[2020-10-13 19:34] manics commented on #202
@yuvipanda do you still plan to do this?

[2020-10-13 19:36] manics commented on #211
It sounds like this is solved!

[2020-10-13 19:36] #211 closed

[2020-10-13 19:37] manics commented on #278
I'm closing this as it's quite old and it's a support issue. If you're still having problems please post on the [Jupyter Community Forum](https://discourse.jupyter.org/). Thanks!

[2020-10-13 19:37] #278 closed

[2020-10-13 19:38] manics commented on #273
Is this still an issue for you?

[2020-10-13 19:39] manics commented on #271
I'm closing this as it's quite old and it's a support issue. If you're still having problems please post on the [Jupyter Community Forum](https://discourse.jupyter.org/). Thanks!

[2020-10-13 19:39] #271 closed

[2020-10-13 19:39] manics commented on #264
I'm closing this as it's quite old and it's a support issue. If you're still having problems please post on the [Jupyter Community Forum](https://discourse.jupyter.org/). Thanks!

[2020-10-13 19:39] #264 closed

[2020-10-13 19:41] manics commented on #262
Is this something you're interested in working on? Could it be done at a more generic level?

[2020-10-13 19:41] manics commented on #260
I'm closing this as it's quite old and it's a support issue. If you're still having problems please post on the [Jupyter Community Forum](https://discourse.jupyter.org/). Thanks!

[2020-10-13 19:41] #260 closed

[2020-10-13 19:41] manics commented on #259
I'm closing this as it's quite old and it's a support issue. If you're still having problems please post on the [Jupyter Community Forum](https://discourse.jupyter.org/). Thanks!

[2020-10-13 19:41] #259 closed

[2020-10-13 19:42] manics commented on #258
Sounds like this was resolved.

[2020-10-13 19:42] #258 closed

[2020-10-13 19:42] manics commented on #256
I'm closing this as it's quite old and it's a support issue. If you're still having problems please post on the [Jupyter Community Forum](https://discourse.jupyter.org/). Thanks!

[2020-10-13 19:42] #256 closed

[2020-10-13 19:43] manics commented on #254
Does anyone still want to work on this? Or should we close this issue, and either re-open when there's a concrete plan or add it in another repo?

[2020-10-13 19:44] manics commented on #252
https://github.com/jupyterhub/oauthenticator/pull/257 was merged

[2020-10-13 19:44] #252 closed

[2020-10-13 19:44] manics commented on #249
I'm closing this as it's quite old and it's a support issue. If you're still having problems please post on the [Jupyter Community Forum](https://discourse.jupyter.org/). Thanks!

[2020-10-13 19:44] #249 closed

[2020-10-13 19:45] manics commented on #247
I'm closing this as it's quite old and there's no concrete action point. If you're still having problems please post on the [Jupyter Community Forum](https://discourse.jupyter.org/) or open a new issue. Thanks!

[2020-10-13 19:45] #247 closed

[2020-10-13 19:45] manics commented on #243
I'm closing this as it's quite old and there's no concrete action point. If you're still having problems please post on the [Jupyter Community Forum](https://discourse.jupyter.org/) or open a new issue. Thanks!

[2020-10-13 19:45] #243 closed

[2020-10-13 19:46] manics commented on #238
I'm closing this as it's quite old and it's a support issue. If you're still having problems please post on the [Jupyter Community Forum](https://discourse.jupyter.org/). Thanks!

[2020-10-13 19:46] #238 closed

[2020-10-13 19:46] manics commented on #234
I'm closing this as it's quite old and it's a support issue. If you're still having problems please post on the [Jupyter Community Forum](https://discourse.jupyter.org/). Thanks!

[2020-10-13 19:46] #234 closed

[2020-10-13 19:46] manics commented on #230
https://github.com/jupyterhub/oauthenticator/pull/231 was merged

[2020-10-13 19:46] #230 closed

[2020-10-13 19:47] manics commented on #229
I'm closing this as it's quite old and there's no concrete action point. If you're still having problems please post on the [Jupyter Community Forum](https://discourse.jupyter.org/) or open a new issue. Thanks!

[2020-10-13 19:47] #229 closed

[2020-10-13 19:48] manics commented on #244
Is there any action to be taken here, or can we close this?

[2020-10-13 19:50] manics commented on #255
I think this was fixed by https://github.com/jupyterhub/oauthenticator/pull/323 ?

[2020-10-13 19:52] manics commented on #225
I'm closing this as it's quite old and it's the provider at fault. Please feel free to open a PR to improve the error message though.

[2020-10-13 19:52] #225 closed

[2020-10-13 19:53] manics commented on #342
Hi :wave: This sounds like a configuration problem rather than a bug. Do you mind posting this as a support question on https://discourse.jupyter.org/ instead? Thanks!

[2020-10-13 19:53] #342 closed

[2020-10-13 19:55] manics commented on #329
Closing as there's no concrete action

[2020-10-13 19:55] #329 closed

[2020-10-13 19:55] manics commented on #311
I'm closing this as it's quite old and it's a support issue. If you're still having problems please post on the [Jupyter Community Forum](https://discourse.jupyter.org/). Thanks!

[2020-10-13 19:56] manics commented on #281
I'm closing this as it's quite old and it's a support issue. If you're still having problems please post on the [Jupyter Community Forum](https://discourse.jupyter.org/). Thanks!

[2020-10-13 19:56] #281 closed

[2020-10-13 19:56] #306 closed

[2020-10-13 19:57] manics commented on #299
This is automated 😀
https://github.com/jupyterhub/oauthenticator/blob/397a3ec6b489635ceb70cfd40059d8ee55bddd6d/.travis.yml#L37-L48

[2020-10-13 19:57] #299 closed

[2020-10-13 19:58] manics commented on #289
I'm closing this as it's quite old and it's a support issue. If you're still having problems please post on the [Jupyter Community Forum](https://discourse.jupyter.org/). Thanks!

[2020-10-13 19:58] #289 closed

[2020-10-13 20:00] manics commented on #300
This is a duplicate of https://github.com/jupyterhub/oauthenticator/issues/217
Unfortunately it's not resolved, but there are some workarounds in the comments.

[2020-10-13 20:00] #300 closed

[2020-10-13 20:01] consideRatio commented on #255
I think so! Thank you @manics for your excellent work to issue triage this repo! :heart: :heart: :heart: :tada:

[2020-10-13 20:01] #255 closed

[2020-10-13 20:02] manics commented on #255
@consideRatio I was inspired by your Z2JH epic 😀

[2020-10-13 20:04] consideRatio commented on #254
Agree!

[2020-10-13 20:07] manics commented on #327
I'm closing this as it's quite old and there's no concrete action point. If you're still having problems please post on the [Jupyter Community Forum](https://discourse.jupyter.org/) or open a new issue. Thanks!

[2020-10-13 20:07] #327 closed

[2020-10-13 20:07] manics commented on #353
Hi @mhaley-miovision Do you have any more details on how the authenticate method could be broken up to make it easier for you?

I think we're pretty set on not adding more providers due to the testing burden. Although recording and replay frameworks exist they don't help if providers update their services, there are already a couple of open issues regarding changes to AD.

[2020-10-13 20:08] manics commented on #317
I'm closing this as it's quite old and there's no concrete action point. If you're still having problems please post on the [Jupyter Community Forum](https://discourse.jupyter.org/) or open a new issue. Thanks!

[2020-10-13 20:08] #317 closed

[2020-10-13 20:10] manics commented on #325
I'm closing this as it's quite old and it's a support issue. If you're still having problems please post on the [Jupyter Community Forum](https://discourse.jupyter.org/). Thanks!

[2020-10-13 20:10] #325 closed

[2020-10-13 20:11] manics commented on #298
Solved by https://github.com/jupyterhub/oauthenticator/pull/338

[2020-10-13 20:11] #298 closed

[2020-10-13 20:16] manics commented on #107
Hi, I'm closing this as it seems to have ended up covering several issues. There's a recent example of a working config on the Jupyter community forum:
https://discourse.jupyter.org/t/configuring-zero-to-jupyter-hub-to-use-an-arbitrary-oauth2-provider/5542/4

If anyone has a concrete idea for improving the docs please open a PR 😀

[2020-10-13 20:16] #107 closed

[2020-10-13 21:04] d0m84 commented on #244
Sounds like it is not used for the generic authenticator so far. https://github.com/jupyterhub/oauthenticator/pull/338#issuecomment-624693757
If that's the case it doesn't solve the issue for me. (I'm not able to test anymore).

[2020-10-13 21:17] consideRatio commented on #371
Mistakenly duplicated issue with #372

[2020-10-13 21:17] #371 closed

[2020-10-14 06:12] meeseeksmachine commented on #217
This issue has been mentioned on **Jupyter Community Forum**. There might be relevant details there:

https://discourse.jupyter.org/t/unable-to-get-git-hub-oauth-work-on-a-jupyterhub-server-which-is-behind-a-proxy/6334/6

[2020-10-14 13:01] mhaley-miovision commented on #353
Hi @manics,

Here is a [diff of the 0.8.0](https://www.diffchecker.com/3YeSNjgF) code that we are using today verse what is in the actual authenticate method.  As you can see, we only make two important changes.  The first is storing the entire json response from the oauth request, and the second is putting that full response in the auth state.  This lets us pull out the `id_token` later on using

[2020-10-16 20:51] devobern opened #375 "ModuleNotFoundError: No module named 'jwt'"
Hello everyone,
I am trying to configure the oauthenticator for AzureAD. I have followed the instructions and also installed the package "PyJWT" via "pip3 install PyJWT", but the jupyterhub does not start anymore. In journalctl, I see the following output:
[journalctl_output.txt](https://github.com/jupyterhub/oauthenticator/files/5394262/journalctl_output.txt)

The auth part of my tljh-config look

[2020-10-24 11:05] meeseeksmachine commented on #136
This issue has been mentioned on **Jupyter Community Forum**. There might be relevant details there:

https://discourse.jupyter.org/t/multiple-authentication-sources-for-zero-to-jupyterhub/6461/2

[2020-10-25 22:43] #375 closed

[2020-10-25 22:43] consideRatio commented on #375
It looks like the environment where the authenticator run, is not able to find a module named `jwt`, and then I assume the installation failed or was in another Python environment or similar.

[2020-10-25 22:50] consideRatio commented on #156
Here is [a thread in the Jupyter forum to continue a discussion about this](https://discourse.jupyter.org/t/using-jwt-as-an-authentication-for-login/5466).

My current understanding is that it is out of scope for this repo to implement JWT based authentication, but, I lack some understanding about this in general so I may very well change my mind given more information and understanding about this

[2020-10-25 22:50] #156 closed

[2020-10-25 23:04] consideRatio commented on #197
@manics I submitted a PR about the deprecation of the userdata_method, and think we should close this issue no matter what at this point as @minrk fixed the key issue of sending data in a request.

[2020-10-25 23:04] #197 closed

[2020-10-25 23:20] consideRatio commented on #222
I think this makes a lot of sense to do whenever we can, happy to review a PR about this.

[2020-10-25 23:26] consideRatio commented on #262
I think it would be fine to have, and like @manics I also think it should be considered in the generic level before the GitLab specific level.

[2020-10-25 23:54] consideRatio commented on #273
Reading in https://tools.ietf.org/html/rfc6749#section-3.2 I conclude that the specification say that we MAY send `client_id`, but it doesn't mention sending along `client_secret`, so it seem like a practice not part of the OAuth2 standard when interacting with the Access Token endpoint.

Apparently though, some Identity providers require it, [like Okta seem to do](https://developer.okta.com/blog/

[2020-10-26 00:07] consideRatio commented on #284
Hi @nuest! Do you have some experience to report back with at this point in time? I was issue triaging this repo and figured it may be a good time to close this issue without further input.

[2020-10-26 00:14] consideRatio commented on #309
This authenticator was removed in 0.11.0 as it could be implemented with the generic authenticator instead.

[2020-10-26 00:14] #309 closed

[2020-10-26 00:19] consideRatio commented on #347
@minrk could you add me and some others in the JupyterHub team as maintainers of the RTD project coupled with this repo at https://readthedocs.org/projects/oauthenticator/ in order to help us share the maintenance burden better?

[2020-10-26 00:21] #351 closed

[2020-10-26 00:24] consideRatio commented on #351
I think you need to configure the `tenant_id`.

See the code here:
https://github.com/jupyterhub/oauthenticator/blob/397a3ec6b489635ceb70cfd40059d8ee55bddd6d/oauthenticator/azuread.py#L28-L46

And the documentation here:
https://oauthenticator.readthedocs.io/en/latest/getting-started.html#azure-ad-setup

[2020-10-26 00:41] consideRatio commented on #367
@owenliang I think this is fixed in #198, but it isn't released yet.

I'm actually looking for someone to help me verify a new set of instructions for Moodle, which may help you also get everything to work, do you have time to help me?

Could you try if your JupyterHub would work when the currently unreleased version of oauthenticator is used, and where you __don't set__ `c.GenericOAuthenticator.u

[2020-10-26 00:43] consideRatio commented on #356
There is no release schedule, but I'm looking to do a release this week to accompany the release of the JupyterHub Helm chart.

[2020-10-26 00:45] consideRatio commented on #277
## Help wanted
- [ ] Validate this makes sense (@minrk, @GeorgianaElena, perhaps this is something you can help with?)
- [ ] Create a PR -> Review -> Merge

[2020-10-26 00:56] consideRatio commented on #244
It is my understanding from #338 that this is resolved now by configuring `extra_authorize_params`! Thank you @NickolausDS!

[2020-10-26 00:56] #244 closed

[2020-10-26 08:43] #356 closed

[2020-10-26 08:47] #277 closed

[2020-10-26 08:54] consideRatio commented on #347
Thank you @minrk for adding me as a maintainer! The RTD build for this repo now functions as it should!

[2020-10-26 08:54] #347 closed

[2020-10-26 13:32] chucklay commented on #273
Sorry for the late response

That quote from section 3.2 makes note of the fact that clients must authenticate with the authorization server in this part of the handshake. However, the RFC leaves the method of authentication up to the authorization server to implement. In practice, as long as a client is able to keep a client secret confidential from the end user, this authentication is almost alw

[2020-10-29 10:45] Freir96 commented on #107
All those advices helped me a lot, but when I try to use OAuth 2.0 I get this message from keycloak:

And this is the log from keyclock server:

jupyterhub_config.py:
`host_ip = '192.168.100.1'
ip = host_ip
keycloak_guest_port = '8180'
keycloak_host_port = '8586'
keycloak_port = keycloak_host_port
c.JupyterHub.authenticator_class = GenericOAuthenticator
c.OAuthenticator.client_id = 'account' # oau

[2020-11-02 22:08] Rayal opened #380 "Multiple Login Methods"
Hi!

I'm working on a project which requires me to have a single instance of Jupyterhub with multiple authentication methods, to offer my users a chance to choose which authentication they would like to use. Currently I'm just interested in having two: FirstUseAuthenticator and GoogleOAuthenticator.

I've tried hacking the 'login.html' screen and its corresponding python file to bolt on one authen

[2020-11-02 22:16] manics commented on #380
In general we ask that JupyterHub GitHub issues are used for bugs and relevant development discussions, with support being handled on the [community forum](https://discourse.jupyter.org/) where more people hang out, and the rest of the community can benefit from these discussions.

If you search GitHub and the forum you'll find some previous discussion on this topic. Please use the forum for any f

[2020-11-02 22:16] #380 closed

[2020-11-04 13:57] meeseeksmachine commented on #370
This issue has been mentioned on **Jupyter Community Forum**. There might be relevant details there:

https://discourse.jupyter.org/t/kubernetes-python-module-not-found-in-custom-jupyterhub-container-for-custom-authentication/6627/1

[2020-11-09 07:40] consideRatio opened #381 "Migrate Travis CI to GitHub actions"

[2020-11-11 14:54] #381 closed

[2020-11-12 05:26] nijisakai commented on #136
Could you tell me where to put the first part of the code please?
I put them all to **jupyterhub_config.py** and both link (/hub/github/oauth_login    # for github login
/hub/google/oauth_login  # for google login) goes to google.
Then I change part two to
[code]
and every link goes to github.

[2020-11-13 16:33] joshlrogers opened #385 "Implement the curl_httpclient"
### Proposed change

Within the authenticate method there is a TODO to configure the curl_httpclient.  This is a proposal to implement this.

### Who would use this feature?

All users would as it appears to be more reliable.  For instance, we are no longer able to authenticate against Auth0 starting as of yesterday without having modified the auth0.py file to use the curl_httpclient.  We are assu

[2020-11-13 18:01] manics commented on #385
The approach taken in JupyterHub is to use the curl client if it's installed:
https://github.com/jupyterhub/jupyterhub/blob/e7bc6c2ba999a43bc2465b9a128262d29cbc615c/jupyterhub/app.py#L2287-L2296

Do you think you could do the same in oauthenticator?

[2020-11-16 17:11] joshlrogers commented on #385
@manics I do not remember whether I did or not, I'll change the code soon and report back whether it continues to work.

[2020-11-17 13:52] TiemenSch opened #387 "Gitlab OAuthenticator not honoring the whitelist"
### Bug description

The user whitelist is not being honored when using the Gitlab OAuthenticator. I've got JupyterHub set up using the zero-to-jupyterhub guide. See also https://github.com/jupyterhub/zero-to-jupyterhub-k8s/issues/1914

Currently, random users are spawning in my server, hence the dupe here as it's kind of urgent!

#### Expected behaviour

Only users in the whitelist should be able

[2020-11-18 14:51] TiemenSch commented on #387
This appears to be a mismatch between the zero-to-jupyterhub Helmchart and the configuration keys of JupyterHub.

Closing as dupe jupyterhub/zero-to-jupyterhub-k8s#1914

[2020-11-18 14:51] #387 closed

[2020-11-21 16:17] manics commented on #273
https://tools.ietf.org/html/rfc6749#section-2.3.1

   authentication scheme as defined in [RFC2617] to authenticate with
   the authorization server.  The client identifier is encoded using the
   "application/x-www-form-urlencoded" encoding algorithm per
   Appendix B, and the encoded value is used as the username; the client
   password is encoded using the same algorithm and used as the
   pass

[2020-11-22 05:11] #353 closed

[2020-11-28 08:50] rkevin-arch commented on #136
Re: @nijisakai, I had a similar issue. The problem is both Google and Github's authenticator use the exact same handlers (OAuthLoginHandler and OAuthCallbackHandler, both in oauthenticator.oauth2). Both OAuthenticator's `get_handlers` return the same underlying classes, so your `setattr` affects the same object, and the last `setattr` is the one that persists. To fix this issue, I subclassed whate

[2020-11-29 04:27] rkevin-arch commented on #136
Just an update on the code written by @ louis-she, it has a couple of weird quirks that others might not expect. Other than the problem above, the `PackedAuthenticator.authenticate` function actually never gets called. The `get_handlers` function is called and returns some handlers, but when you visit for example `/google/login`, it calls the handler for Google, and that `handler.authenticator` is

[2020-12-03 05:00] snickell opened #392 "oauthenticator.Google raising exceptions, logins failing, after upgrade to oauthenticator 0.12"
After upgrading oauthenticator to 0.12, I'm getting exceptions raised in the new `refresh_token` code from: https://github.com/jupyterhub/oauthenticator/pull/350

From https://github.com/jupyterhub/oauthenticator/blob/11a18e8b5c4a35a8248f4f2a4dc81965af3d3da5/oauthenticator/google.py#L181-L187:

I get an exception `TypeError("{} must be bytes".format(name))` from the last line 187 (`await decrypt`)

[2020-12-03 05:20] missingcharacter commented on #392
@snickell are you able to test if adding `TypeError` to this line `"solves"` your problem?
https://github.com/jupyterhub/oauthenticator/blob/master/oauthenticator/google.py#L189

[2020-12-03 08:02] consideRatio commented on #392
What version exactly is used? 0.12.X and X is what? There have been some important bugfixes and it would be good to verify this is a problem in 0.12.2 which is tje latest version.

[2020-12-03 10:24] manics commented on #392
There's a recent open PR here which sounds like it may fix this issue: https://github.com/jupyterhub/oauthenticator/pull/391

Are you able to test and review it?

[2020-12-03 17:26] yuvipanda commented on #202
No, but someone else should try ;) Will help make JupyterHub be C dependencies free!

[2020-12-04 03:51] snickell commented on #392
@manics I'll try to test https://github.com/jupyterhub/oauthenticator/pull/391 tomorrow, it does look correct to me for fixing this issue, makes sense to have the guard check specific

@consideRatio exact version is 0.12.2. Downgrading to oauthenticator 0.11.0 with everything else identical results in a working setup, which is the temporary workaround I'm using for our juphub. Specifically, we're

[2020-12-04 12:11] consideRatio commented on #392
I'm almost 100% this is closed by #391, so I've released 0.12.3 that contains that bugfix.

[2020-12-04 12:11] #392 closed

[2020-12-04 19:56] snickell commented on #392
Thank @consideRatio , I agree with the almost 100%, and I'm testing 0.12.3 now

[2020-12-04 21:59] snickell commented on #392
@consideRatio looks good, no problem in 0.12.3, thanks everyone for being so responsive! 🙏🏽

[2020-12-04 22:00] consideRatio commented on #392
Thanks for the confirmation @snickell!

[2020-12-09 01:04] bolliger32 opened #396 "[GitHub] allow union of allowed_users and allowed_organizations"
### Proposed change
We recently updated our jupyterhub helm chart on a z2jh deployment. We've run into issues where external collaborators that are not part of our GitHub org are receiving 403 errors when trying to log back in. I think we've isolated the issue to a change in the way the allowed_users (a.k.a. whitelist) and allowed_organizations (a.k.a. orgWhitelist) are combined. It seems that pre

[2020-12-09 06:46] consideRatio commented on #396
@bolliger32 what a beautifully written issue!! ❤️ 🎉

What z2jh version upgrade did you make? I will be able to translate it to a change of oauthenticator version. This sound like a regression bug rather than a enhancement proposal, and very relevant to solve in my mind.

[2020-12-09 10:08] ableuler commented on #253
For other people coming here I guess this should be #348.

[2020-12-09 10:24] consideRatio commented on #253
I think it was meant to be closed by #354

[2020-12-09 15:25] bolliger32 commented on #396
Thanks @consideRatio ! We bumped from helm chart v0.9-4300ff5 to v0.10.6 (sorry, kind of a big jump...). Let me know if there are any other details I can provide

[2020-12-09 15:56] consideRatio commented on #396
Ah, this is a jump of JupyterHub from 1.0.0 to 1.2.2, and a jump of OAuthenticator from 0.8.2 to 0.12.1 ([old](https://github.com/jupyterhub/zero-to-jupyterhub-k8s/blob/4300ff5bb82e56eb0304f11e96e0e7138a60c7d0/images/hub/requirements.txt) and [new](https://github.com/jupyterhub/zero-to-jupyterhub-k8s/blob/0.10.6/images/hub/requirements.txt) dependencies).

I think the issue is clearly stated and d

[2020-12-09 23:39] kevung opened #397 "Implement Gitea OAuth2 identity provider"
Implement Gitea as identity provider.
Gitea provides OAuth2 authentification : https://docs.gitea.io/en-us/api-usage/

[2020-12-10 00:17] manics commented on #397
Hi!
We're not accepting new Oauth providers in this repository due to the maintenance burden. There's a generic handler you might be able to configure:
https://github.com/jupyterhub/oauthenticator/blob/master/oauthenticator/generic.py

If that doesn't work you can subclass it in your own Python package.

If you need more help please ask on the [community forum](https://discourse.jupyter.org/) 😀.

[2020-12-10 00:17] #397 closed

[2020-12-14 09:34] minrk commented on #368
I think it only makes sense in aliases for the 'same' domains, so maybe we should handle this in the normalize_username step? or a specific dedicated 'aliases' config for mapping multiple idps known to share a user namespace to a single key?

[code]

I've no particular objection to adding an opt-in list of domains to be stripped, with a warning about the possibility of collisions if the length is

[2020-12-14 09:52] minrk opened #398 "[OAuth or Generic] Implement refresh_user"
### Proposed change

Implement JupyterHub's [refresh_user](https://jupyterhub.readthedocs.io/en/stable/api/auth.html#jupyterhub.auth.Authenticator.refresh_user) method to refresh /re-validate auth state. The upstream method was added specifically to allow Authenticators like oauthenticator to ensure auth state is up-to-date with upstream prior to spawn to avoid stale auth info.

### Who would use

[2020-12-19 22:09] orboan opened #399 "Google OAUTH with @: big problems"
### Bug description
Jupyterhub + dockerspawner (using jupyter stacks) + google oauth with g suite.

Only usernames as school email are recognized in _allowed_users list_ (if using as usernames only substring which is before @ it returns 403 not authorized).

But using full email (included the @) as username leads to numerous errors. The first is:
home dir is created not using @ but instead _40, an

[2020-12-23 04:54] dtaniwaki commented on #136
Thank you @louis-she @rkevin-arch

Now, I made it work with the following code.

[code]

In `jupyterhub_config.py`,

[code]

This code works w/ [my PR](https://github.com/jupyterhub/jupyterhub/pull/3315) of JupyterHub.

[2020-12-24 15:44] joshlrogers commented on #385
@manics It does appear that simply installing pycurl works.  I removed the altered line and restarted jupyterhub and it continued working.

[2020-12-24 15:45] #385 closed

[2020-12-24 15:46] meeseeksmachine commented on #385
This issue has been mentioned on **Jupyter Community Forum**. There might be relevant details there:

https://discourse.jupyter.org/t/failing-to-authenticate-against-auth0-with-stream-closed-exception/6723/3

[2021-01-19 11:48] rvernaeshv commented on #196
@nscozzaro hey... How did you solved the "Google account domain @gmail.com not authorized" issue?

[2021-01-21 16:14] Madhuriv23 opened #403 "Jupyterhub fails to login using Azure aad with proxy setup"
### Bug description

#### Expected behaviour

#### Actual behaviour

Our VMs with jupyterhub and oauth installed are behind a proxy. Jupyter comes up fine but fails to login azure-active directory user with the proxy set.
i.e when proxy is set in the shell before starting the jupyter as follows
http_proxy=http://x.x.x.x:xxxx
https_proxy=http://x.x.x.x:xxxx
no_proxy="xxx"

jupyter comes up fine wit

[2021-01-21 19:45] kianaf commented on #403
I get the same error!

[2021-01-21 19:48] manics commented on #403
Do you know which release of jupyterhub-oauthenticator broke your configuration?

[2021-01-21 22:17] kianaf commented on #403
Hi @manics,
Thank you so much for your help. I am struggling with this error for a long time. I am using the z2jh distribution and I am getting the same error for all the versions from 0.9.0 to 0.11.1, which the OAuthenticator versions are from 0.11.0 to 0.12.3

[2021-01-22 08:14] Madhuriv23 commented on #403
Hi @manics,

This is working with version 0.11.1 and failing with version 0.12.4.  Unfortunately, I am not able to point at which version it started to fail as we upgraded from 0.11.1 to 0.12.4

Regards,
Madhuri

[2021-01-25 10:05] jim-smith opened #405 "oauth-azure login's 'hang' after token is returned"
I have jupyterhub set up on an azure server and working own port 22000.
I can get other authenticators to work but to make life easier for students I and am trying to get oauth-azure working.
At the moment when I try to log in it sends me through to our main systems for authentication.
Looking at their logs it seems the login attempts are successful.
However the process then just hangs and eventua

[2021-01-25 10:46] manics commented on #405
Hi :wave: This sounds like a configuration problem rather than a bug. Do you mind posting this as a support question on https://discourse.jupyter.org/ instead? Thanks!

[2021-01-25 10:46] #405 closed

[2021-02-03 13:55] Freir96 commented on #107
@t20100 What is that Unicode() function? I can't find a unicode function with config param, and the logout does not work when I replace it with a string.

[2021-02-03 14:35] t20100 commented on #107
It looks like `from traitlets import Unicode` was missing, I've added it to the sample code.

See [traitlets.Unicode](https://traitlets.readthedocs.io/en/stable/trait_types.html#traitlets.Unicode)

[2021-02-03 16:57] Freir96 commented on #107
Are you sure that this is everything?
It does not seem to be working:
`[E 2021-02-03 17:30:44.074 JupyterHub app:2859]
    Traceback (most recent call last):
      File "/usr/local/lib/python3.6/site-packages/jupyterhub/app.py", line 2856, in launch_instance_async
        await self.initialize(argv)
      File "/usr/local/lib/python3.6/site-packages/jupyterhub/app.py", line 2347, in initialize

[2021-02-05 22:09] manning-ncsa commented on #372
I was pulling my hair out trying to figure out why auth was failing for me until I found this discussion. I am using JupyterHub Helm chart v0.11.1. I was unable to authenticate using `allowed_gitlab_groups` when only scope `read_user` was listed, but when I added `read_api`, it worked. Hopefully this helps someone else.

Relevant part of my chart override `values.yaml` file:
[code]

[2021-02-08 08:32] Madhuriv23 commented on #403
Hello @manics ,

Any updates on the issue here?.

Regards,
Madhuri

[2021-02-09 11:54] aleckravets commented on #370
Hi guys, any news on this?

[2021-02-09 13:06] manics commented on #370
From the [Discourse topic linked above](https://discourse.jupyter.org/t/kubernetes-python-module-not-found-in-custom-jupyterhub-container-for-custom-authentication/6627) it sounds like someone's extended and written their own authenticator. You could try following up there, and if it solves the B2C issue then please open a docs PR to point to it.

[2021-02-09 15:44] dbsanfte commented on #370
I created a working AzureAdB2COAuthenticator on my fork:

https://github.com/cardano/oauthenticator/blob/master/oauthenticator/azureadb2c.py

It works a little differently with some custom environment variables but it does the job.

[2021-02-09 17:40] aleckravets commented on #370
I ended up configuring the existing azure ad authenticator in the helm chart values like this:

`hub:
  config:
    AzureAdOAuthenticator:
      login_service: Azure AD B2C
      client_id: {client_id}
      client_secret: {client_secret}
      authorize_url: https://{tenant}.b2clogin.com/{tenant}.onmicrosoft.com/{policy}/oauth2/v2.0/authorize
      token_url: https://{tenant}.b2clogin.com/{tenant

[2021-02-10 15:53] X-dark opened #411 "OpenShift: Cannot inject custom CA for oauth endpoint"
### Bug description
When using a oauth endpoint with a custom CA on OpenShift, I cannot get the certificate verification to work. It seems that #363 imply that the CA should be in `/run/secrets/kubernetes.io/serviceaccount/ca.crt`. This is only the case for API endpoint not OAuth endpoint (which by default get the wildcard Ingress router certificate).

We can inject the custom CA with a configmap

[2021-02-10 16:35] #411 closed

[2021-02-10 16:46] X-dark commented on #411
@manics well seems strange to me to hardcode a cacert which is not guaranteed to contain the CA chain of the OAuth endpoint. Will wait for more feedback on the downstream issue then.

[2021-02-11 14:19] wseaton commented on #411
This should hopefully be fixed in https://github.com/jupyterhub/oauthenticator/pull/410 due to us adding support for the `pycurl` backend.

[2021-02-12 01:06] mweinelt opened #412 "Missing attribute `allowed_users`in {BitBucket,GitHub,Gitlab,Google}OAuthenticator in 0.13.0 tests"
### Bug description
Running the tests on 0.13.0 I get  four similar `AttributeError`s.

[code]

#### Expected behaviour

Either the attribute should exist on the object, or the assertion should be removed.

#### Actual behaviour

The attribute is missing and I cannot find where it would be assigned. It is only asserted for in the tests.

https://github.com/jupyterhub/oauthenticator/search?q=allowe

[2021-02-12 01:31] consideRatio commented on #412
I could reproduce this issue, it seems that we now require jupyterhub 1.2+ where those errors went away.

I think the sensible fix is to require jupyterhub 1.2 and cut a patch release: https://github.com/jupyterhub/oauthenticator/blob/master/requirements.txt

[2021-02-12 01:42] consideRatio commented on #412
Thanks for your thorough issue report @mweinelt :heart: :tada:!!

[2021-02-12 02:02] mweinelt commented on #412
That is spot on, updating jupyterhub resolved the issue for me. Thanks for responding so quickly and your encouraging words!

[2021-02-14 19:49] 1kastner opened #414 "[OAuth] Custom 403 error page after successful login at OAuth provider but rejection based on config"
### Proposed change

Add the option to show a customized 403 error message when after a successful login at an OAuth provider the login is still rejected based on the config, e.g. the `allowed_users ` list or the `blocked_users` list.

### Alternative options

After installation, each JupyterHub administrator can tamper around with the code at https://github.com/jupyterhub/oauthenticator/blob/a4aa

[2021-02-17 01:50] ric-art-m commented on #107
In my jupyterhub_config.py i put the below settings to resolve the redirect issue

import os

os.environ['OAUTH2_TOKEN_URL'] = 'https://{domain}:{port}/auth/realms/{realm}/protocol/openid-connect/token'
os.environ['OAUTH2_AUTHORIZE_URL'] = 'https://{domain}:{port}/auth/realms/{realm}/protocol/openid-connect/auth'
os.environ['OAUTH2_USERDATA_URL'] = 'https://{domain}:{port}/auth/realms/{realm}/prot

[2021-02-25 09:11] 1kastner commented on #414
If there is some interest, I could submit a PR.

[2021-03-03 19:50] orboan commented on #399
Thank you.
Any news regarding the use of @ in usernames (i.e. using the full email as username when multiple domains are configured)?
Thanks again ;)

[2021-03-10 13:08] #412 closed

[2021-03-11 11:47] minrk commented on #399
Can you provide your jupyterhub_config.py? Path issues should be a problem in the Spawner. How are you creating the home directories?

You can chose to define a custom `Authenticator.normalize_username` to transform usernames arbitrarily, as long as you pick a scheme that will produce no collisions *for you*.

[2021-03-11 11:54] minrk commented on #370
Marking this as a docs issue, because:

1. the url is already configurable, as mentioned above, and b2c is achieved through configuration of Azure AD
2. the default for Azure AD is not changing (correct?)

So I don't think there are any bugs to fix, only a note [here](https://oauthenticator.readthedocs.io/en/latest/getting-started.html#azure-ad-setup) about how and what to set the URLs to for B2C.

[2021-03-12 11:01] minrk commented on #414
@1kastner that sounds great!

[2021-03-17 20:26] holdenk opened #417 "[GitHub] OAuth fails with second computer attempting to log in"
### Bug description

When I log into JupyterHub with GH OAuth on one machine and then try and log in on a different machine with the same user I get a 500.

#### Expected behaviour

I would expect to be able to log in
#### Actual behaviour

Error 500
### How to reproduce

### Your personal set up
zero-tojupyter-hub, with oauthenticator==0.13.0

- <details><summary>Logs</summary>
[code]
</details>

[2021-03-17 20:32] manics commented on #417
Hi :wave: This sounds like a configuration problem rather than a bug. Do you mind posting this as a support question on https://discourse.jupyter.org/ instead? Thanks!

[2021-03-17 22:47] holdenk commented on #417
I'll give it a shot. So far I get "Sorry, there was an error authorizing your account. Please try again." when I try and use discourse (both GH and e-mail account creation).

I would have thought if it was a configuration issue it just wouldn't work at all instead of working for the first OAuth login?

[2021-03-17 22:59] consideRatio commented on #417
Btw the user I found in the discourse forum was not associated with a GitHub account, so presumably it was an account registered via email. If you had trouble there as well using GitHub, I wonder if you may have some issues with your GitHub account somehow, or that you are signed into an account that you didn't expect on github.com etc?

[2021-03-17 23:00] holdenk commented on #417
Makes sense. I'll do this in an incognito window tomorrow to verify :) Otherwise I'll see if maybe there's a cookie to clean I could add to the error message or similar.

[2021-03-18 20:07] holdenk commented on #417
I tried it again today in an incognito window and I still get an error 500 on the second computer that I attempt to log in from. It's not a blocker for me (I'll just switch auth mechanisms), but if other folks run into this and want to collaborate into figuring out what's going on I'd love to :)

[2021-03-18 20:36] consideRatio commented on #417
@holdenk btw, I got an idea of what may be wrong.

Are you always using HTTPS when you configure how to work against GitHub? I think that may be required. I suspect that GitHub responds with 403 forbidden because oauthenticator sends out a HTTP rather than HTTPS request when it only accepts HTTPS for these stuff.

[2021-03-18 20:54] holdenk commented on #417
That could make sense. I was looking at the configuration parameters and I could only see a way to force it to HTTP (which I don't want), I'll take another look this weekend and see (and I'll share my config tomorrow - the secrets).

[2021-03-19 02:50] holdenk commented on #417
[code]

[2021-03-19 03:03] consideRatio commented on #417
Thanks @holdenk!

The next step for this issue would be to verify this bug doesn't have to do with the following configuration options.
- [ ] using a custom hub image
- [ ] using allowed_organizations

[code]

[2021-03-19 03:06] holdenk commented on #417
So I need the custom image because I'm running on ARM. But I can try and deploy on MiniKube I suppose.

[2021-03-19 03:20] consideRatio commented on #417
@holdenk oh cool okay sounds relatively harmless, perhaps that is something we can publish as part of the Helm chart as well btw?

How do you go about building the image? Are you simply doing `docker build` from an ARM linux environment?

[2021-03-19 04:01] holdenk commented on #417
I'm using `docker buildx` with two backends configured (one x86 and one ARM machine). I did a write up on it at https://scalingpythonml.com/2020/12/12/deploying-jupyter-lab-notebook-for-dask-on-arm-on-k8s.html and I'll try and see about making a PR with the changes :)

[2021-03-19 04:51] holdenk commented on #417
Ok I tried it again with:

[code]

[2021-03-21 01:37] holdenk commented on #417
I'm going to try and put some debugging in but I am physically moving my K8s cluster this weekend so might take a bit of time.

[2021-03-21 02:08] consideRatio commented on #417
@holdenk go for it!

I am using GitHub OAuthenticator in one deployment, and I had no issues logging in in another incognito window from the same computer using z2jh 0.10.6 that has an OAuthenticator version of 0.12.1 (see [the pinned dependencies](https://github.com/jupyterhub/zero-to-jupyterhub-k8s/blob/ed9b2f4fa114b3bb7c9d1d561a5cb8ad3c4ee125/images/hub/requirements.txt#L41)).

I'll update this

[2021-03-21 02:15] holdenk commented on #417
I'm using the acc6c6c17c8737e81613d6018be8a10953f317be (Mar 15th) commit. I'll update it to the latest before I put in the debugging and see if that just fixes it :)

[2021-03-21 02:18] consideRatio commented on #417
Ah okay hmmm that should be fine, no change of relevance since than I think. Is your docker image built using that version as well? I don't think it will be essential either, but our test suite assumes it in its tests so we would be blissfully unaware if something breaks when using a custom hub image with old dependencies etc.

[2021-03-24 02:45] oneilk commented on #212
@xenatisch / @shalinisssingh / @stephen-a2z Have any of you been able to resolve this issue? I am having a very, very similar issue. I am going to play around with those environment variables that @xenatisch mentioned.

[2021-03-24 21:02] jabbera opened #419 "Azure ad broken by PR 402"
### Bug description
PR https://github.com/jupyterhub/oauthenticator/pull/402 broke azure ad authentication. The PR updates azuread.py for pyjwt 2.0 but the version that comes with helm chart: 11.1-n340.h85c73557 is 1.7.1. Can someone either revert this PR or upgrade pyjwt to 2.X so azure ad starts working again please. It's likely being held back by https://pypi.org/project/mwoauth/ which requires

[2021-03-25 10:31] minrk commented on #417
#415 hasn't been released yet, but should improve error logs by default because the error message from GitHub associated with the 403 will be logged. I'm not sure if GitHub's error message will be informative, but it's a start.

The request that's failing is the equivalent of:

[code]

where $GITHUB_ACCESS_TOKEN is the token retrieved from the oauth response [here](https://github.com/jupyterhub/oa

[2021-03-25 16:04] holdenk commented on #417
@minrk Thank you! yeah the scope is configured to read:user. I could 100% see it being some API rate limiting maybe (I run PR dashboard which makes some requests to the GitHub API on a queue). Let me see if I can make that PR dashboard refresh less frequently and maybe the issue will go away :)

[2021-03-26 11:02] minrk commented on #417
I didn't think there was any scope that *doesn't* allow accessing https://api.github.com/user, but without `read:user` I think less than all fields are filled out, which is why it's weird to 403. Hopefully revealing the github error message will give you enough info.

I've also had commenting briefly disabled for my account due to suspected spam while doing repetitive things like issue triage, so

[2021-03-27 10:59] #419 closed

[2021-04-07 12:08] dhirschfeld commented on #335
Naively changing the urls over to `v2.0` gives an error about scope:

![image](https://user-images.githubusercontent.com/881019/113863891-8fc49300-97ed-11eb-91b4-bc7d41231875.png)

[2021-04-07 12:43] dhirschfeld commented on #335
Continuing on the journey, the below was enough to get it to work:
[code]

...after which I could then get the group information:
[code]

The token is now however missing other configured optional claims such as `upn` amongst others. The group information is more important to me though.

[2021-04-07 12:56] dhirschfeld commented on #335
Reading the docs it seems this may be configurable in the application manifest:

https://docs.microsoft.com/en-us/azure/active-directory/develop/access-tokens#v10-and-v20

[2021-04-08 11:25] zragge opened #423 "[GitLab] Group membership check fails for subgroups"
### Bug description

When using subgroup-membership for authorization the gitlab authenticator always says that the user is not a member of the groups. It seems to me that this is because the [_check_membership_allowed_groups](https://github.com/jupyterhub/oauthenticator/blob/b8195d14a4f438da4ae7de4c82f49ebe03c05db1/oauthenticator/gitlab.py#L203) does url-encoding twice. First on [row 206](https:/

[2021-04-14 10:22] cemacrr commented on #335
Just hit a similar issue. I don't think anything had changed on the JupyterHub side, so maybe something changed on the Microsoft side. Not sure.

Trying to log in to the JupyterHub system would produce an error (in the browser):

`OAuth error: AADSTS90027: We are unable to issue tokens from this API version on the MSA tenant. Please contact the application vendor as they need to use version 2.0 of

[2021-04-15 13:15] jabbera opened #426 "Version was bumped to 14.0.0 instead of 0.14.0"
Title explains it. I'm unsure if this is easily fixable since it's already been sent to pypi.

[2021-04-15 13:17] jabbera commented on #426
Looks intentional.

[2021-04-15 13:17] #426 closed

[2021-04-21 02:13] jabbera commented on #398
@minrk I'm thinking this might be useful to me and I might implement it, but it's not clear if it will solve my problem. Maybe you can clear it up?

I user Azure AD auth paired with kubespawner. I pass my access token to my notebooks hosts and the access token goes bad after 10 hours. If I request offline_access in my scope I can get a refresh token. However the refresh_user method is called in hu

[2021-04-21 08:58] Madhuriv23 commented on #403
Hello @manics,

Any updates here?.

Regards,
Madhuri

[2021-04-22 06:33] minrk commented on #398
This won't, or at least isn't enough on its own, to solve the problem in the container.

If you pass the refresh token to the container, you can do the refresh from there, e.g. in a server extension or kernel-level code, depending on how you want to use it. I believe @betatim has had a working version of refreshing tokens for some provider.

[2021-04-28 13:54] tfmark commented on #262
Could this be made even more generic? the `azuread.py` uses `username_claim`, i.e.

[code]
but the claim I'm currently getting back from AzureAd has `emails` as a list:
[code]
A workaround is to either set an email in Azure for the user (i.e. set it _twice_) or change my `name` to my email address. Neither of which are obvious workflows.

If I could have a custom callback that takes the `json_resp

[2021-04-28 14:06] tfmark opened #428 "azuread.py does not verify jwt tokens when reading"
### Bug description

Per [pyjwt documentation](https://pyjwt.readthedocs.io/en/latest/usage.html#reading-the-claimset-without-validation) it is ill-advised to NOT verify a token. I am unsure why validation is being disabled, if it is for testing purposes then perhaps this could be set via configuration flag (which defaults to `True`)?

#### Expected behaviour
[code]

#### Actual behaviour
[code]

[2021-04-28 14:33] tfmark commented on #428
Think I misunderstood the requirement to verify the JWT ;)

[2021-04-28 14:33] #428 closed

[2021-04-28 16:15] kianaf opened #429 "Problems with GitLabOAuthenticator"
Hi all,

Sorry I am struggling with this problem from a long time ago. I am implementing the Zero to Jupyterhub on our Kubernetes cluster. As the Authenticator, I like to use the GitLab OAuthenticator but the problem is that even though I set the values in my config file like this:
[code]
I do not see the admin interface when I login with admin user. I should add our GitLab instance uses standard

[2021-05-06 08:29] fabaff opened #430 "Support for PyJWT > 2"
### Bug description
PyJWT is constraint to [`>=1.7,<2.0`](https://github.com/jupyterhub/oauthenticator/blob/master/test-requirements.txt#L5)

#### Expected behaviour
Allow later PyJWT release

#### Actual behaviour
This constraint makes the package building process fails on NixOS. NixOS has PyJWT 2.1.0. I guess other distributions are affected too in the meantime as PyJWT 2.0.0 was almost 6 months

[2021-05-06 09:31] consideRatio commented on #430
@fabaff ah there is support already I think, and what you pointed to was the test-requirements specifically which hasn't been properly updated.

[2021-05-06 09:33] #430 closed

[2021-05-06 10:58] fabaff opened #432 "Test failures"
### Bug description
Not all tests are passing with  Python 3.8.9 and `pytest-6.2.3`. This happens during the build process for NixOS packages.

[code]

<details>

[code]
</details>

#### Expected behaviour
All tests passing

#### Actual behaviour
5 tests are failing.

[2021-05-10 11:37] minrk commented on #432
I suspect this is a pyjwt version issue. Can you include the output of `pip list`?

[2021-05-11 16:05] jgato commented on #107
using you cool exmaple it worked like a charm, but logout is not working :( Did you find the solution?

[2021-05-12 15:54] consideRatio opened #433 "Outdated documentation example"
This example is outdated, using `@gen.coroutine` isntead of `async` for example.

https://github.com/jupyterhub/oauthenticator/blob/master/examples/auth_state/jupyterhub_config.py

[2021-05-14 15:47] satra opened #438 "GitHub OAuth process not retrieving email address."
### Bug description
we have modified the github authenticator to pass on login, token, and email to the user environment. however, while login and token are being passed, the email address is not. the reading scope is set to read user info including email. we are hoping to set this so we can add that for git operations in the lab.

https://github.com/dandi/dandi-hub/blob/dandi/dandi-info/config.ya

[2021-05-21 13:05] GeorgianaElena opened #436 "[Auth0] Custom logout URLs"
### Proposed change
Enable `Auth0OAuthenticator` to handle custom logout URLs.

This was noticed when using an [Auth0 database connection](https://auth0.com/docs/connections/database) to authenticate users using an email/username and password (ref: https://github.com/2i2c-org/pilot-hubs/issues/422).

### Who would use this feature?

`Auth0OAuthenticator`-enabled hub users.

### (Optional): Suggest

[2021-05-28 07:28] #266 closed

[2021-05-28 11:09] #436 closed

[2021-06-01 17:58] satra commented on #438
thanks @minrk - i'll add this to my custom script to check, and then i can send a PR to the githuboauthenticator if you would like.

[2021-06-16 03:45] holdenk commented on #417
Disabling the PR dashboard allowed this to work :)

[2021-06-16 03:45] #417 closed

[2021-07-15 18:08] weisdd opened #445 "AzureAD: app roles for something similar to admin_groups and allowed_groups"
### Proposed change

Currently, AzureAD has a very basic implementation, which doesn't allow to work with users based on their group membership for admin access or for prohibiting from entering JupyterHub.

IMO, app roles would be the simplest implementation. They can be added to a group (a user must be a direct member of the group), so we would see those roles in an ID token and can later decide

[2021-07-18 18:03] #438 closed

[2021-07-20 23:52] drhagen commented on #207
I am interested in implementing this because I need it also. This is what I propose:

- Add an attribute `auth0_domain`. The value for `auth0_domain` can be supplied with the following precedence:
  1. `auth0_domain` in `jupyterhub_config.py`
  2. `auth0_subdomain` in `jupyterhub_config.py` (now deprecated)
  2. `AUTH0_DOMAIN` environment variable
  3. `AUTH0_SUBDOMAIN` environment variable (now d

[2021-07-27 12:37] meeseeksmachine commented on #136
This issue has been mentioned on **Jupyter Community Forum**. There might be relevant details there:

https://discourse.jupyter.org/t/make-jupyterhub-authentication-pluggable/10122/1

[2021-08-05 15:35] sgibson91 commented on #265
I'm gonna work on this as part of Pangeo's migration to 2i2c 🙂  https://github.com/2i2c-org/pilot-hubs/issues/482#issuecomment-893548362

[2021-08-05 15:41] consideRatio commented on #403
This is probably related https://github.com/jupyterhub/oauthenticator/issues/217.

[2021-08-05 15:48] consideRatio commented on #429
[code]

Any GitLab specific config must be nested under GitLabOAuthenticator rather than Authenticator.

@kianaf sorry to not be of more help to you here, but I'll go ahead and close this issue as I think it is a request for help rather than a clear indication of a bug in this repository. I suggest trying the latest version of the JupyterHub Helm chart and seeing if this problem remain, and if it

[2021-08-05 15:48] #429 closed

[2021-08-05 15:48] consideRatio commented on #433
Fixed.

[2021-08-05 15:48] #433 closed

[2021-08-09 14:56] #265 closed

[2021-08-16 15:02] galshi commented on #411
@wseaton I see that you've removed the pycurl import from #410, is there a fix in the work for this issue?

[2021-08-16 15:40] wseaton commented on #411
@galshi removing the pycurl import shouldn't have affected anything, as it is on by default: https://github.com/jupyterhub/oauthenticator/pull/410#discussion_r574552667

[2021-08-16 15:49] galshi commented on #411
@wseaton Thanks, didn't notice that.
Custom CA verification still doesn't work for me though, @X-dark have you been able to solve it?

[2021-08-18 09:14] malichishti opened #452 "GenericOAuthenticator doesnt redirect to the Identity server"
Hi,
I have set up Jupyter Hub on Ubuntu 20.x
I have then used tljh-config to set up identity provider as below:

[code]

However, when I try to log in, it gives the following error before even redirecting to my Identity provider:

https://xx.southeastasia.cloudapp.azure.com/hub/oauth_login?response_type=code&redirect_uri=https%3A%2F%xx.southeastasia.cloudapp.azure.com%2Fhub%2Foauth_callback&client

[2021-08-18 09:37] #452 closed

[2021-08-18 18:33] Bfoster-melrok commented on #445
any updates on this? I'd really like to be able to use this feature.

[2021-08-18 20:46] weisdd commented on #445
@Bfoster-melrok PR still stays without any comments from JupyterHub maintainers, so no further progress.

[2021-08-19 10:44] meeseeksmachine commented on #136
This issue has been mentioned on **Jupyter Community Forum**. There might be relevant details there:

https://discourse.jupyter.org/t/make-jupyterhub-authentication-pluggable/10122/2

[2021-08-20 03:49] chrisroat opened #453 "Support non-GSuite/Workspace allowed_google_groups"
### Proposed change

By default GoogleOAuthenticator, the Google Authenticator allows login by any Google account.  I would like to restrict login by a consumer (non-GSuite/non-Workspace) Google Group, and not have any filtering/restriction on email domain.

### Alternative options

One can simply list allowed users to the config files.  This is less ideal to keep updated, since a config file list

[2021-08-20 07:35] nicornk commented on #264
@xmichaelx did you ever get an answer to this question?

[2021-08-31 00:36] malichishti commented on #452
Hi @consideRatio,
I have followed the documentation from https://oauthenticator.readthedocs.io/en/latest/getting-started.html#general-setup
And it has still not worked so I'm not sure but there is at least a documentation issue/bug here.

[2021-08-31 10:11] consideRatio commented on #452
If we can pinpoint something wrong with the documentation it should absolutely be updated.

I suggest you start by trying to debug the following first, and after having done that without success open a discourse post describing the situation. If you have success, follow up here by clarifying what was wrong in the documentation or mention that it was unrelated.
1. Do you have a functional HTTPS cer

[2021-08-31 11:39] malichishti commented on #452
Thank you for your reply @consideRatio ,
I have HTTPS and i can login fine if i remove this identity provider and just use admin account - its doesnt display the HTTPS error/message.
I have set server very recently by following commads:
[code]

Following is what the logs look like for infinite redirect:

[code]

[2021-08-31 12:07] malichishti commented on #452
I couldn't find oauthenticator, below is the output of `pip list`
[code]

[2021-09-02 02:52] malichishti commented on #452
@consideRatio I managed to solve this eventualy, whats missing in the docs is that if you are using https://oauthenticator.readthedocs.io/en/latest/getting-started.html#general-setup then JupyterHub will be set up as systemmd service.
Now the docs does say to define OAUTH2_TOKEN_URL and OAUTH2_AUTHORIZE_URL environment variables but since this is systemd service it has to be done as below:

[code]

[2021-09-02 02:56] malichishti commented on #452
@consideRatio I have a separate item, should it be logged as an enhancement request?

OpenID Connect support a [hybrid authentication flow](https://openid.net/specs/openid-connect-core-1_0.html#HybridFlowAuth) which kicks in if the Authorizations request using `"response_type": "code **id_token**"`

Is this possible with Generic or another authenticator?

[2021-09-02 03:14] consideRatio commented on #452
For any separate thing that should be a github issue, make it a separate github issue.

I don't know if the GenericOAuthenticator supports a hybrid auth flow. You can indeed open a feature request for that in this github repo. I have a some wishes as a maintainer trying to find time to do whats needed to maintain this and other repos in this github org:

1. Try to verify it isn't already a support

[2021-09-02 15:02] ubalklen opened #454 "Authenticator class for AD FS"
### Proposed change

Adding an authenticator class for [AD FS](https://docs.microsoft.com/en-us/windows-server/identity/active-directory-federation-services).

### Suggest a solution

I believe only small changes to [AzureAdOAuthenticator](https://github.com/jupyterhub/oauthenticator/blob/master/oauthenticator/azuread.py) are necessary (see this [post](https://discourse.jupyter.org/t/error-403-whe

[2021-09-02 22:15] ZachPope531 opened #455 "Reuse `AsyncHTTPClient` when possible"
I recently ran into an issue where the memory usage of my JupyterHub process grew slowly over time with each call to `GenericOAuthenticator.authenticate` or `refresh_user`. I narrowed it down to the fact that any time I would get the default HTTP client with `http_client = self.http_client()`, a new `AsyncHTTPClient` object was being created and opened.

Normally creating `AsyncHTTPClient` objects

[2021-09-02 22:42] consideRatio commented on #455
That sounds very reasonable to me, but I'm not feeling confident that I understand the consequences of doing this. What happens if you share the same instance to make requests? Would it be fine, or a potential problem?

[2021-09-07 08:27] MaisamMD commented on #107
Hi everyone,

I am using the generic authenticator to integrate jupyterhub with an external OIDC provider. When I press the login button I will be redirected to the OIDC provider login page. When I log in using my credentials, I don't redirect back to the jupyterhub and I will stay on my page on the OIDC provider side. Any hint to tackle this issue?
This is the part of my config file related to au

[2021-09-07 16:20] ZachPope531 commented on #455
I did some testing by spinning up a user server for ~1 hour, and I didn't find any issues with using one single `AsyncHTTPClient`. I made these modifications to my `jupyterhub_config.py`:

[code]

I also did some reading online on whether or not to reuse one single HTTP client, and it looks like it is recommended to reuse it as much as possible. One issue brought up in a [.NET developer guide](htt

[2021-09-13 15:03] mcmartins commented on #222
Hey!

I can help and work on this one as this will be useful for us...

I think a simple change to @brasie 's proposal is needed. The `expires_in` within the response is used to store _'The lifetime in seconds of the access token'_, so it's only useful if we have the issued time, so I would include an `expiry_time` (timestamp) field instead, which is the current time plus the `expires_in` amount o

[2021-09-14 10:56] navdeepbansal commented on #107
i am bale to integrate keycloak with jupyterhub but still not able to figure it out how can we restrict users with particular keycloak role to access jupyterhub.

[2021-09-14 12:35] navdeepbansal commented on #107
Hi, could you please let me know if you have got the solution ?

[2021-10-03 12:29] diego-plan9 opened #460 "Using app.add_css_stylesheet() in conf.py"
When attempting to build the documentation using latest sphinx (`4.2.0`) (related to an effort of packaging `oauthenticator` into Debian), an error is raised due to:
[code]
at [`conf.py`](https://github.com/jupyterhub/oauthenticator/blob/master/docs/source/conf.py#L130).

It seems `.add_stylesheet()` has been technically deprecated since quite a while (`1.8`), although not really remove from sphin

[2021-10-03 15:27] consideRatio commented on #460
Absolutely, sounds very reasonable! Let's transition to `add_css_stylesheet` and make us require sphinx >=2 if we don't already do.

[2021-10-03 17:56] tk0miya commented on #460
I think it's better to use the `html_css_file` configuration instead of the `add_css_file()` API (if you still need to install custom CSS).
https://www.sphinx-doc.org/en/master/usage/configuration.html#confval-html_css_files

[2021-10-04 11:00] dvandok opened #462 "GITLAB_URL should be read from the configuration instead of (or in addition to) the environment"
### Bug description

When setting up the gitlab authenticator with a private giltab instance, the base URL of that instance needs to be passed to the software. The way it is set up right now is by reading GITLAB_URL from the environment, where other information (such as the client secret) are read from the configuration. This is annoying because when jupyterlab runs as a service under systemd, thi

[2021-10-04 23:39] ivan-k-turing opened #463 "[GitHub] Config option `allowed_organizations` not recognized by `GitHubOAuthenticator`"
### Bug description

Not sure if that's a bug or if I'm doing something wrong.
I'm using GitHubOAuthenticator in tljh, and I cannot restrict access to my organization.

Here is the relevant part of my tljh-config:
[code]
When I do `sudo tljh-config reload`, I get
[code]
And it gives access to any GitHub user.

Here is more info from logs after reloading the config:
[code]

[2021-10-05 06:24] consideRatio commented on #463
It sais you are using oauthenticator version 0.10.0, can you scan the changelog and see when the feature was introduced? I bet you need to bump the version and thats the issue.

[2021-10-05 22:47] ivan-k-turing commented on #463
Thanks, that was the problem.

[2021-10-05 22:47] #463 closed

[2021-10-06 08:41] DMoreira97 commented on #212
Hello. I think I was able to understand very lightly the explanation given by @xenatisch .

With the configuration shown in the image below, `OAUTH2_AUTHORIZE_URL` gets a url accessible from the browser, and `OAUTH2_TOKEN_URL ` plus `USERDATA_URL` get an url with the container "name" (ip). However, it doesn't make much sense to do the same to `OAUTH_CALLBACK_URL` in my configuration, once after th

[2021-10-18 10:59] dvandok commented on #462
I notice a lot of difference between the TLJH code I have deployed and what is current on Github, so the issue may already have been dealt with...

[2021-10-19 18:28] jckoester commented on #212
I'm experiencing very similar problems, except I get a slightly different error:
[code]
It somehow looks like the initial authentication was successful but doesn't get used when retrieving the userdata.

[2021-11-05 19:19] iamjxb opened #468 "[Generic] Generic Oauthenticator Not support PKCE"
For OIDC login using code flow with PKCE, the generic oauthenticator currently cannot generate code challenge and send code challenge method or code verifier.
It is possible to add them through the extra_params and extra_authorize_params but that would make it "hard coded" and less secure.
Is there a way to generate code challenge and verifier during runtime? If not, can we make a feature request

[2021-11-25 12:00] belfhi opened #470 "Allow for extra args in `authorize_url` to enable idp hints"
Hi,
I set up jupyterhub with GenericOAuthenticator to authenticate against my
Keycloak instance.
It would be nice if I could pass `kc_idp_hint=oidc` in the authorize_url
so the user directly logs into the IdP and does not see the Keycloak Screen.

### Proposed change

Similar to `userdata_params` an extra attribute should be added
`authorize_params` with `Dict` type that will rhen be added to the

[2021-11-25 12:09] minrk commented on #470
Can you set `c.GenericOAuthenticator.authorize_url = "https://your-keycloak/authorize?kc_idp_hint=oidc"`? You have to set the authorize_url anyway with GenericOAuthenticator, I think you should be able to include params there.

[2021-11-25 13:19] belfhi commented on #470
Oh. That was easy. Thanks very much @minrk . I was missing the ? character when I tried that out... ^^

[2021-11-25 13:19] #470 closed

[2021-11-30 10:34] katringoogoo opened #472 "Logout w. GenericOAuthenticator does not remove cookies"
### Bug description

We currently use the GenericOAuthenticator together with an internal Keycloak instance and it works reasonably well. However we noticed that a logout of JupyterHub does not clear the cookies. If the user presses Sign-in after logging out via JupyterHub they get directly taken back to the hub spawn page without going through the actual user login process.

#### Expected behavio

[2021-11-30 11:10] minrk commented on #472
Can you include the logs? I suspect what is happening is that the user is still logged in to keycloak itself, so the 'login with keycloak' results in transparent redirects to keycloak and back to JupyterHub to set new cookies.

I would not expect logging out of JupyterHub to log out of the oauth provider as well. However, you _can_ set `c.GenericOAuthenticator.logout_redirect_url = "https://.../lo

[2021-11-30 11:28] minrk commented on #468
Supporting PKCE sounds like a totally valid feature request, and seems pretty generic. If I [understand it correctly][pkce], what we would need is a boolean option for `use_pkce`, where if True, we add:

[pkce]: https://www.oauth.com/oauth2-servers/pkce/

in `OAuthLoginHandler`:

1. we generate a random string (`code_verifier`)
2. hash it with sha256
3. add params to `authorize_redirect`: `code_ch

[2021-11-30 11:35] minrk commented on #468
Does it make a lot of sense to use PKCE with authorization_code flow? Reading about it, it seems to mostly be a replacement for mobile apps and single-page apps where the client secret cannot be reasonably protected. But since the code exchange request comes from the server side, this doesn't seem to be an issue in our case.

[2021-11-30 12:04] katringoogoo commented on #472
Yes that makes sense. Now with an additional call to the Keycloak logout url it really logs out the user and doesn't forward anymore and lets the user instead re-login ... Thanks a lot!

Why wouldn't you expect this? Whats the use case for logging out and not actually being logged out :) ?

A problem that i still have now is that it does not automatically redirect back to the hub itself. I could j

[2021-11-30 12:51] katringoogoo commented on #472
ok thanks for clarification, that makes perfect sense.

regarding the redirect_uri - thats exactly what i'm doing at the moment. i just wanted to avoid to explicitly state the full hub url in the config file. i'm going to pull it from an env var instead but was wondering how it works during login (because i got the redirect_uri from there) ...

thanks!

[2021-11-30 13:29] minrk commented on #472
There are two of these: JupyterHub's internal `?next=` and the oauth provider's `?redirect_uri`. For `?next=`, it's computed based on the page requested - i.e. if you request `/hub/admin` without a cookie, you will be sent to `/hub/login?next=/hub/admin` and that gets passed around through the login process. It is always a path, and not an absolute URL.

The absolute`redirect_uri=https://.../oauth

[2021-12-02 09:33] katringoogoo commented on #472
Well one last question popped up: How can Keycloak know which user I am before i type it in? There must be something that Jupyterhub sends along when i press the 'sign in' button ...

[2021-12-02 09:35] #472 closed

[2022-01-07 08:34] Marcalberga opened #476 "Bitbucket Oauthenticator fails getting teams data"
### Bug description

BitbucketOauthenticator is using a [removed endpoint](https://developer.atlassian.com/cloud/bitbucket/rest/api-group-teams/#api-teams-get) for checking user membership in authorized teams, should use [workspaces endpoint](https://developer.atlassian.com/cloud/bitbucket/rest/api-group-workspaces/#api-workspaces-get) instead.

#### Expected behaviour

Normal behaviour is expecte

[2022-01-10 04:21] consideRatio opened #480 "Drop dependency on recommonmark - use MyST instead?"
We have a dependency on recommonmark for our docs, but that makes us not able to work with Python 3.9 because its dependency commonmark hasn't updated to support Python 3.9.

I'd love to transition to have MyST instead. I think perhaps we use recommonmark to have markdown files part of Sphinx, while we could transition to use MyST instead.

[2022-01-12 14:29] minrk commented on #480
Yeah, I think that's fine. I wouldn't expect anything to change, just swap it out.

[2022-01-22 11:24] meeseeksmachine commented on #136
This issue has been mentioned on **Jupyter Community Forum**. There might be relevant details there:

https://discourse.jupyter.org/t/multiple-authentication-options/12711/2

[2022-01-25 10:00] darabos opened #481 "A way to ban users"
### Proposed change

Let's provide a mechanism for banning users. Something like:

[code]

### Alternative options

I'm currently manually deleting offending users, but nothing stops them from coming back 5 minutes later.

### Who would use this feature?

We run a JupyterHub instance to demo our data science product. A person is abusing this to mine cryptocurrency on as many demo instances as they

[2022-01-25 15:02] manics commented on #481
This should already be supported https://jupyterhub.readthedocs.io/en/stable/api/auth.html#jupyterhub.auth.Authenticator.blocked_users

[2022-01-25 15:02] #481 closed

[2022-01-25 15:12] darabos commented on #481
Thanks! Sorry I had missed that.

[2022-02-20 15:20] maverickswin opened #486 "Generic Auth response type is always equal to code"
### Bug description

Generic Auth response type is always equal to code.
        self.authorize_redirect(
            redirect_uri=redirect_uri,
            client_id=self.authenticator.client_id,
            scope=self.authenticator.scope,
            extra_params=extra_params,
            response_type='**code**',
        )
#### Expected behaviour

There are several kinds of response types, it w

[2022-02-21 11:42] michaeljfazio opened #487 "Option to extract additional token in generic OAuth2 authenticator"
### Proposed change
I would like to extract an OIDC ID token in auth_state_hook. This seems like it should be straight forward when using
the generic authenticator however it is not OIDC friendly. Specifically, it does not provide an easy way to extract the
id_token.

### Alternative options
Option 1: Allow users to specify additional tokens to be extracted into auth state (e.g. c.LocalGenericOAut

[2022-02-21 15:30] manics commented on #487
Do you think we could add the entire `token_response` as a field of `auth_state`?
https://github.com/jupyterhub/oauthenticator/blob/3bcb7a7293ba99bae16eddb37e3177082a54234c/oauthenticator/generic.py#L138-L151

[2022-02-23 02:55] maverickswin commented on #486
After investigation. I think response_type='code' is resonable.

I can create a new auth class to implement response_type='id_token token' flow.

Thanks.

[2022-02-23 02:55] #486 closed

[2022-02-28 09:51] Economax commented on #120
If using JupyterHub Kubernetes with a config file: You implement GitLab Oauth under the hub tag.

It is important that you set GITLAB_HOST or GITLAB_URL under extraEnv _before_ implementing config.

Do not try to set gitlab_url under config, as that fails in version 1.2 of the Helm chart, corresponding to JupyterHub version 1.5.0.

Example:
[code]

@consideRatio should this be added to docs at [ht

[2022-02-28 10:59] consideRatio commented on #120
@Economax I think the z2jh must do its best to link out to this projects documentation - because it has proven to be unsustainable to keep it updated as this project changes.

With this said though, I think we won't need to specify any environment variables, and that everything should be configurable via `c.GitLabOAuthenticator` (or the eqvauilent in z2jh Helm chart config: `hub.config.GitLabOAuth

[2022-02-28 11:43] Economax commented on #120
Hi again @consideRatio, I retested in a live environment now, and using gitlab_url under GitLabOAuthenticator now works. Confirmed for both Helm chart v 1.1.1 and 1.2.

The first time I using gitlab_url under GitLabOAuth I got an error that kept killing my "hub" pod, this is the log:

[code]

While having the keys for the GITLAB_URL flag after the GitLabOAuth key threw an ssl error in my browser b

[2022-02-28 11:49] consideRatio commented on #120
That sounds like a YAML mistake, where you perhaps had duplicate entries for a key or similar. I'm also not sure if you mean `GitLabOAuth` exactly or  `GitLabOAuthenticator` which it really must be to work.

I think z2jh's documentation should link to this projects documentation and rely on that primarily but if there is a systematic approach to for example having a section in the discourse forum

[2022-03-19 10:39] ft-cama opened #492 "Adding organization (and team) information to auth_state in GithubOAuthenticator"
### Proposed change
I would like to have the GithubOAuthenticator store the organization/team through which a user is authenticated in e.g. auth_state.

### What can we achieve with this information?
We can customize the kubespawner so that it based on the user's organization/team does something specific, e.g. mounts an organization specific volume.

### Why is this a good idea?
It seems intuitive

[2022-03-19 10:46] meeseeksmachine commented on #492
This issue has been mentioned on **Jupyter Community Forum**. There might be relevant details there:

https://discourse.jupyter.org/t/github-organizations-user-permissions/13382/2

[2022-03-20 18:27] drhagen commented on #207
I still need custom Auth0 domains and am willing to do the work. Would a PR implementing the solution described above be considered?

[2022-03-22 09:41] GeorgianaElena opened #494 "[CILogon] Don't check admin usernames against allowed_idps domains"
### Proposed change

Don't check admin usernames against `allowed_idps` domains, otherwise the admin's domain also needs to be added to the `allowed_idps` list.

Although this isn't necessary bad, there are cases where this might force a greater access scope than necessary.

For example, if the admin has a regular `@gmail.com` account, while the regular users have a uni account like `@uni.edu` acc

[2022-03-22 10:52] ft-cama commented on #492
I get your point @manics!

How about instantiating an empty list and then append all the organizations that a user is part of? If the list is empty after looping through the allowed_organizations list, then the user is not authorized and authenticate still returns None.

[code]
This above code should replace lines 176-197 in the [GithubOAuthenticator](https://github.com/jupyterhub/oauthenticator/b

[2022-03-31 09:32] meeseeksmachine commented on #492
This issue has been mentioned on **Jupyter Community Forum**. There might be relevant details there:

https://discourse.jupyter.org/t/let-jupyterhub-configure-and-mount-group-volumes/13675/1

[2022-04-01 16:02] geoffo-dev commented on #107
Hello @navdeepbansal - are you able to post the solution?

As for group restriction - have you seen this?

https://github.com/jupyterhub/oauthenticator/tree/main/examples/generic - there is a section at the bottom about groups

[2022-04-02 17:00] manics commented on #492
That would work, however the reason I suggested implementing this by fetching the user info is that you can test it without needing a release of oauthenticator, and also serves to document how to extend this more generally, for example someone might want to get additional user info.

If that works then we can decide whether it's worth adding an option to request and return the full user-informatio

[2022-04-06 11:26] ft-cama commented on #492
I don't have the overview to give a specific implementation of how generally to get additional user information.

**Some thoughts**
Most additional information requires additional scope(s), e.g. to get the user's email, the OAuth scope "user:email" is needed, so the scope(s) given in the config file will determine how much additional information about the user can be retrieved in the first place.

[2022-04-08 12:44] scilab9000 opened #499 "[AzureAD.py] - oauthenticator.azuread.AzureAdOAuthenticator-14.2.0dev ( Only allows display name or email )"
**Quick_view:** We want AzureAD.py oauthenticator to retrieve the username, uid, or sAMAccountName to match sssd.conf OR alternate solution.

**OS:** Ubuntu 18.04

**Version:** Jupyterhub version 2.2.2

**Authentication:** oauthenticator.azuread.AzureAdOAuthenticator-14.2.0dev

**Additional Setup :** SSSD > AD > Points to sAMAccountName

**Issue:** Using c.AzureAdOAuthenticator.username_claim = 'u

[2022-04-14 11:51] scilab9000 commented on #499
**Solution#1:**
Adjusting the sssd,conf to pull the upn for the username instead of the sAMAccountName allows us to use the email to login. This is an inelegant solution, though it works. It would be nice to have a more elegant solution , please add the the multi-variable solution.

**Example:**
# The following lines were changed. See above for the full config.
jupyterhub_config.py: c.AzureAdOAuth

[2022-04-19 21:57] gns-build-server commented on #499
Is this actually a bug, or should this issue be marked "enhancement"?

[2022-04-21 17:01] choldgraf opened #501 "Use the sphinx-book-theme instead of the pydata-sphinx-theme"
### Context

We currently use the pydata sphinx theme in the documentation for this site. This theme is designed for complex sites with a lot of sub-pages (this is why it uses navigation links at the top).

The sphinx-book-theme has a very similar look and feel, but puts all of the links in the left sidebar instead of at the top so they are all discoverable. This feels to be a more appropriate str

[2022-04-27 16:50] #414 closed

[2022-04-28 19:15] #492 closed

[2022-05-20 08:45] consideRatio opened #507 "[Google] Optional dependencies pinned to patch version in setup.py"
I think will come back and bite the project sooner or later, for example because these versions aren't compatible with a modern version of Python or similar or depends on something with a severe vulnerability etc.

https://github.com/jupyterhub/oauthenticator/blob/60ddc4fe3ab06b19c6876992679c1fd2ec1c64dd/setup.py#L103-L105

The versions was pinned in https://github.com/jupyterhub/oauthenticator/pu

[2022-05-20 09:14] consideRatio commented on #507
## Investigation

It seems that only two parts of each of these libraries are used `google.oauth2.service_account` and `googleapiclient.discovery.build`.

https://github.com/jupyterhub/oauthenticator/blob/60ddc4fe3ab06b19c6876992679c1fd2ec1c64dd/oauthenticator/google.py#L226-L232

https://github.com/jupyterhub/oauthenticator/blob/60ddc4fe3ab06b19c6876992679c1fd2ec1c64dd/oauthenticator/google.py#L2

[2022-05-20 14:26] missingcharacter commented on #507
@consideRatio Thank you for reaching out, yes, it does work.

[2022-05-23 13:28] consideRatio opened #512 "docs: provide configuration reference for the authenticators"
I expected there to automatically summarized information from docstrings about the authenticators when navigating to this location: https://oauthenticator.readthedocs.io/en/latest/api/gen/oauthenticator.cilogon.html, but there wasn't any.

[2022-05-23 18:54] #480 closed

[2022-06-08 11:16] GeorgianaElena opened #514 "[CILogon] Allow hub usernames to be left unchanged"
### Bug description

With `oauthenticator` 15.0.0, there isn't possible anymore to have the hub usernames be the value returned by the chosen claim. This is because `action` is a **required** field of `allowed_idps` dict and it can either be `strip_idp_domain` or `prefix`.

#### Expected behaviour

Migrate to 15.0.0 without requiring to change existing hub user's usernames.

#### Actual behaviour

[2022-06-08 13:06] consideRatio commented on #514
It would be great to get this resolved quickly, it sounds like a very troublesome experience otherwise. If you submit a fix I'll be quick to assist with review so we can get a new release out.

[2022-06-08 13:16] GeorgianaElena opened #515 "[CILogon] Allow specifying which domains should be allowed to login using a specific identity provider"
### Proposed change

With latest oauthenticator version we lost the option to allow only certain domains to login into a hub. Currently we are allowing identity providers. I believe it would be useful to combine these to in order to be able to specify which domains to allow to login using a specific identity provider.

For example, if we'd like to allow login into a hub to only `2i2c.org` accounts

[2022-06-08 13:22] #514 closed

[2022-06-10 09:59] GeorgianaElena commented on #476
Fixed by https://github.com/jupyterhub/oauthenticator/pull/477

[2022-06-10 09:59] #476 closed

[2022-06-13 08:27] endritdemaj opened #520 "redirect_uri not the same as oauth_callback_url"
### Proposed change

File: [oauthenticator](https://github.com/jupyterhub/oauthenticator)/[oauthenticator](https://github.com/jupyterhub/oauthenticator/tree/main/oauthenticator)/oauth2.py

Hi all,

im having a issue where the **redirect_uri** is not the same as the **oauth_callback_url**. Therefor after succesfully logging in im getting a 404 error from HUB since the uri doesn't exist on the HUB s

[2022-06-15 12:55] GeorgianaElena opened #522 "[CILogon] Instructions for CILogon with Google OAuth use new Google API for `oid`, but CILogon uses an old OAuth API"
### Bug description

The `allowed_idps` dict is documented to expect its keys to be entity ids from the list provided by CILogon at https://cilogon.org/idplist.

https://github.com/jupyterhub/oauthenticator/blob/333f3563f8ccb8f40e5bd48d8edb92ce51859098/oauthenticator/cilogon.py#L113

However, the `idp` field of the `userinfo` response from CILogon
https://github.com/jupyterhub/oauthenticator/blob/

[2022-06-23 02:32] #515 closed

[2022-06-24 11:36] terrencegf commented on #522
https://test.cilogon.org has been updated so that the entityID values reported by https://test.cilogon.org/idplist/ match the "iss" (issuer) claim returned by the OAuth2/OIDC "userinfo" endpoint. See the [upstream issue](https://github.com/ncsa/OA4MP/issues/45#issuecomment-1165486305) for details.

https://cilogon.org should be updated mid-July.

[2022-07-16 17:19] rmoreas opened #527 "[GlobusOAuthenticator] Users with the same userid in different identity domains map to the same user"
### Bug description

When using the GlobusOAuthenticator without restricting the identity provider, users with the same userid at different
identity providers are mapped to the same JupyterHub user.

#### Expected behaviour

Users coming from different identity providers should be mapped to different users in JupyterHub.

#### Actual behaviour

Example: A user with a google account `john.doe@gmail

[2022-07-16 18:50] manics commented on #527
Have you tried setting `c.GlobusOAuthenticator.username_from_email = True`?
https://oauthenticator.readthedocs.io/en/latest/api/gen/oauthenticator.globus.html#oauthenticator.globus.GlobusOAuthenticator.username_from_email

[2022-07-18 07:24] rmoreas commented on #527
I didn't, but I think this will not make much a difference because the email domain is also chopped to from the username resulting in the same issue.

[2022-07-18 21:25] NickolausDS commented on #527
I believe originally disabling the identity provider restriction altogether used to raise an exception and was not allowed, but was relaxed in favor of some use-cases where admins wanted to use multiple identity providers but take on the task of generating unique usernames themselves. However, these two things aren't mutually exclusive. If an admin disables the identity provider restriction, then

[2022-07-19 13:19] terrencegf commented on #522
The update has been deployed to https://cilogon.org . Please contact help@cilogon.org if the update does not solve this issue.

[2022-07-21 17:09] westernspion opened #528 "Using OAUTH2_AUTHORIZE_URL with GenericOAuthenticator results in incorrect authorize URL"
### Bug description
Using `OAUTH2_AUTHORIZE_URL` seems to improperly construct the authorize URL used in the login process. It seems to prepend the base URL (in my case,` localhost:8000/hub/`) to the actual authorize URL, resulting in a 404 not found.

When setting directly through Jupyter config file, as
`c.GenericOAuthenticator.authorize_url = "https://acme.okta.com/oauth2/<redacted>/v1/authoriz

[2022-07-22 11:09] GeorgianaElena commented on #522
https://github.com/ncsa/OA4MP/issues/45 has been fixed, so closing this one too! Thanks @terrencegf !

[2022-07-22 11:09] #522 closed

[2022-08-01 09:37] vwoloszyn opened #529 "AzureAdOAuthenticator: "/" as part of the username."

[2022-08-01 09:45] vwoloszyn commented on #213
I open an issue regarding this behavior of using the AD display name as username. In short, jupyterhub is not allowing to autheticate users because the display name contain an illegal char "/"
https://github.com/jupyterhub/jupyterhub/issues/3996

[2022-08-02 05:58] rachtsingh commented on #399
For anyone stumbling across this in the future, one solution is to add this to your jupyterhub_config.py:

[code]

[2022-08-02 06:53] malaman commented on #445
Hi from 2022 :)
any plans to implement the requested feature ?

[2022-08-02 08:42] GeorgianaElena commented on #494
I believe this can be closed now since there is support for restricting the access through the Google identity provider (for example) to only certain domains.

Example config:

[code]

[2022-08-02 08:42] #494 closed

[2022-09-02 11:00] #207 closed

[2022-09-06 10:39] dingobar opened #536 "[Generic] Allow passing period-separated string for nested `claim_groups_key` in generic_client"
### Proposed change

Allow passing for example `claim_groups_key=permissions.groups` to `GenericOAuthenticator`, to extract the groups from a claim with the form
[code]

### Alternative options

It is currently possible to do this by passing a `Callable()` that returns the groups given the user object, but I find this not configurable enough. It is also very finnicky (probably impossible) to use w

[2022-09-06 10:45] minrk commented on #536
Are there any specs for what are legal characters for claim names? I think both `.` and `/` are logical separators for nested JSON paths (i think the '.' you've chosen is the more natural of the two), and should be safe if either is _illegal_ in a field name.

Including `.` in a field name would be weird for JSON, since it would mess up JSON->javascript object deserialization (`obj["field.key"] !=

[2022-09-06 10:49] dingobar commented on #536
Yes, I think it is rather safe, and I would call it an edge case if someone were using it like that, but it is still valid JSON. I don't have a strong opinion on `.` vs `/`, even making that configurable.

[2022-09-07 10:08] minrk commented on #536
I think that's sensible, and something like the basics of jq query syntax for accessing list items only if/when someone needs it. A callable will always be there as an escape hatch.

[2022-09-08 08:03] dingobar commented on #536
Implemented in https://github.com/jupyterhub/oauthenticator/pull/537

What is your release cycle like? Could we get this one out as a minor bump some time this month maybe?

[2022-09-08 08:16] consideRatio commented on #536
I think only a minor version bump is relevant for this, I'll look into making one directly because why not.

[2022-09-08 08:16] #536 closed

[2022-09-08 08:55] consideRatio commented on #536
Done!

[2022-09-27 15:46] YuhangLYH commented on #107
Hi, have you tried using allowed_groups?

`c.GenericOAuthenticator.allowed_groups = ["KEYCLOAK-GROUP"]` This works in our case

[2022-10-01 17:06] jmuchovej commented on #254
Just came across this, I don't think there are any open issues relating to this. I'd be interested in seeing this done (and think I can take a crack at it).

Though I'm not super familiar with the actual mechanics of OIDC. Right now I have an instance of Authentik running, which provides OpenID/OAuth2 endpoints (like the `.../.well-known/openid-configuration`), but I managed to get things working

[2022-10-03 16:01] minrk commented on #254
@jmuchovej I think that's exactly right - OIDC should be able to populate the other config after an initial well-known request, then behave the same, otherwise.

[2022-10-21 08:45] sanderploegsma commented on #146
@consideRatio According to [the oauthenticator docs](https://oauthenticator.readthedocs.io/en/latest/gitlab.html) the `openid` scope grants read-only permission to group memberships. Therefore, shouldn't that suffice for the authenticator when using `allowed_gitlab_groups`?

If not, perhaps it makes sense to at least document this requirement somewhere, since it's indeed very confusing.

[2022-10-21 11:47] consideRatio commented on #146
@sanderploegsma if you know whats minimally required, any clarifications is greatly appreciated! I'm a bit lost on what is required for two key reasons:

1. The oauthenticator app may have added some scope automatically beyond what is configured - a practice I'd like to avoid and deprecate. I'm not sure if that happens for the GitLabOAuthenticator if some essential scope and primitive scope is omi

[2022-10-21 12:15] sanderploegsma commented on #146
Looking at the source I think I see why additional scopes are required: checking `allowed_project_ids` requires additional scopes beyond `openid`. `read_api` should be sufficient for this though, there is no need for write-access at all for an authenticator IMO.

But, group membership is exposed through the OpenID Connect provider ([docs](https://docs.gitlab.com/ee/integration/openid_connect_provi

[2022-11-05 01:48] floriandeboissieu opened #545 "[GitLab] allow union of allowed_users and {allowed_gitlab_groups, allowed_project_ids}"
### Bug description

This issue is similar to #396 . In [GitLab Oauth](https://github.com/jupyterhub/oauthenticator/blob/main/oauthenticator/gitlab.py) any reason for keeping the intersection between allowed_users and {allowed_gitlab_groups, allowed_project_ids} knowing that there is also a blocked_users configuration argument?

I labelled it as a bug because I don't see any reason for that and it

[2022-11-15 18:38] GeorgianaElena opened #547 "[CILogon] Allow restricting based on domain for username claims different than email"
### Proposed change

### Alternative options

### Who would use this feature?

### (Optional): Suggest a solution

[2022-11-15 19:19] yuvipanda commented on #547
YESSS! I think perhaps an `allowed_email_domains` or something that can be configured on a per-IDP basis?

[2022-11-17 07:32] npc2kor opened #548 "403 Forbidden Error when using Azure AD for authentication"
We are hosting Jupyterhub on an AKS instance, using helm charts and using Azure AD to authenticate the org users. The App Registration on Azure is properly configured, with API Permissions - user.read, openid, profile, email granted.

However, I am getting a 403: Forbidden error, when signing in using Azure AD credentials. Herewith attaching the error as well as the values.yaml configuration for y

[2022-11-17 09:02] manics commented on #548
Please don't open duplicate issues (https://discourse.jupyter.org/t/403-forbidden-error-when-using-azure-ad-for-authentication/16737) as it ends up wasting maintainer's time.

[2022-11-17 09:02] #548 closed

[2022-11-18 10:47] GeorgianaElena opened #549 "Document the changes introduced by latest refactor"
### Context

https://github.com/jupyterhub/oauthenticator/pull/526 introduces some changes like configuration deprecations in order to achieve a certain "normalization" of the authenticators.

### Proposal

- [ ] Document the changes in #526  in the changelog and also create a migration guide for when a new version will be released
- [ ] Improve the  documentation of the base `OAuthenticator` clas

[2022-11-18 11:17] consideRatio commented on #549
Wieee excellent work!

I removed the maintenance label and retained documentation label, to help github-activity tool generate a changelog where this PR shows up only in one category: documentation.

[2022-11-21 12:37] adnion commented on #549
tornado.auth still uses the old name 'extra_params' instead of 'token_params' (https://github.com/tornadoweb/tornado/blob/341e8900524846a2c5e7a9ce5be4448e13d2d3d7/tornado/auth.py#L558)
[code]

[2022-11-22 01:21] npandeya opened #550 "support for restricting access using comma separated role claim in user_info"
### Proposed change

### Alternative options

### Who would use this feature?

### (Optional): Suggest a solution

[2022-11-22 08:35] minrk commented on #550
Can you provide more detail about what you are thinking of? Answering the questions in the Issue template is very helpful.

[2022-11-25 09:25] GeorgianaElena commented on #549
Thanks for reporting this bug @bcm0! I've opened https://github.com/jupyterhub/oauthenticator/pull/551 to fix it.

https://github.com/jupyterhub/oauthenticator/pull/526 was a big PR and there might be other things missing. If you spot anything else, please feel free to open a new bug report